In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib
from sklearn.cross_validation import train_test_split
import xgboost as xgb

Using matplotlib backend: Qt5Agg

/home/dz/anaconda3/lib/python3.5/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

# Functions

In [2]:
def pos(x):
    if x>0:
        return 1
    else:
        return 0
def have_credit(x):
    if x == 0:
        return 0
    elif x == -1:
        return -1
    else:
        return 1

def normalize_reg(x):
    #if type(x) != unicode:
        #return u''

    x = x.upper()
    x = x.replace(u'РЕСПУБЛИКА', u'')
    x = x.replace(u'РЕСП', u'')
    x = x.replace(u'ОБЛАСТЬ', u'')
    x = x.replace(u'ОБЛ', u'')
    x = x.replace(u'КРАЙ', u'')
    x = x.replace(u'Г ', u'')
    x = x.replace(u' Г', u'')
    x = x.replace(u'Г.', u'')
    x = x.replace(u'АО ', u'')
    x = x.replace(u' АО', u'')
    x = x.replace(u'АO', '')
    x = x.replace(u'ЧУВАШСКАЯ', u'')
    x = x.replace(u'(', u'')
    x = x.replace(u')', u'')
    x = x.replace(u'/', u'')
    x = x.replace(u' ', u'')
    x = x.replace(u'.', u'')
    x = x.replace(u'-', u'')

    x = x.replace(u'ЧУВАШСКАЯ', u'')
    x = x.replace(u'ОРЁЛ', u'')
    x = x.replace(u'СЕВЕРНАЯ', u'СЕВ')
    if u'ЕВРЕЙ' in x:
        x = u'ЕВРЕЙСКАЯАО'
    if u'КАМЧ' in x:
        x = u'КАМЧАТКА'
    if u'ХАНТЫ' in x:
        x = u'ХМАО'
    if u'САХА' in x:
        x = u'ЯКУТИЯ'
    if u'АЛТАЙ' in x:
        x = u'АЛТАЙ'
    if u'МОСКОВСКИЙ' in x:
        x = u'МОСКОВСКАЯ'
    if u'МОСКВОС' in x:
        x = u'МОСКОВСКАЯ'
    if u'МОСКОВСКАЯ' in x:
        x = u'МОСКОВСКАЯ'
    if u'РОССИЯ' in x:
        x = u'МОСКВА'
    if u'ЧЕЛЯБ' in x:
        x = u'ЧЕЛЯБИНСК'
    return x

In [ ]:
records = df.to_dict(orient='records')#аналог гет дамис
dv = DictVectorizer(separator='_')
X_oh = dv.fit_transform(records)

In [3]:
train = pd.read_csv("data/credit_train.csv", encoding = 'Windows-1251',sep = ";")
test = pd.read_csv("data/credit_test.csv",encoding = "Windows-1251",sep = ";")
client_id = test['client_id']
#y = train['open_account_flg']
#train.drop(['open_account_flg'],axis = 1, inplace = True)

In [36]:
data.head()

,Test,age,client_id,credit_count,credit_month,credit_sum,education,gender,job_position,living_region,marital_status,monthly_income,open_account_flg,overdue_credit_count,score_shk,tariff_id,normalize_reg
0,0,32,127398,1,10,42588.00,GRD,F,BIS,САНКТ-ПЕТЕРБУРГ Г,MAR,100000,1,0,0.482558,1.60,САНКТПЕТЕРБУРГ
1,0,49,94209,1,10,15569.00,SCH,M,PNA,ОБЛ НИЖЕГОРОДСКАЯ,MAR,37000,0,0,0.379280,1.10,НИЖЕГОРОДСКАЯ
2,0,24,4383,3,4,11899.00,GRD,M,SPC,МОСКВА,UNM,50000,1,0,0.237500,1.60,МОСКВА
3,0,25,26656,2,12,15019.00,SCH,M,ATP,КРАСНОДАРСКИЙ КРАЙ,UNM,18000,1,0,0.559009,1.10,КРАСНОДАРСКИЙ
4,0,40,41165,4,10,20416.00,GRD,F,SPC,ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ - ЮГРА,MAR,35000,1,0,0.324815,1.32,ХМАО

In [4]:
Xtr, Xval, ytr, yval = train_test_split(train,train.open_account_flg,random_state = 7, test_size=0.25)

In [5]:
Xtr['Test'] = 0
Xval['Test'] = 1
test['Test'] = 2
test['open_account_flg'] = np.nan
data = pd.concat([Xtr,Xval,test],ignore_index = True)
del(train)
del(test)
del(Xtr)
del(Xval)
data.head()

/home/dz/.local/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/dz/.local/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Test,age,client_id,credit_count,credit_month,credit_sum,education,gender,job_position,living_region,marital_status,monthly_income,open_account_flg,overdue_credit_count,score_shk,tariff_id
0,0,32,127398,1,10,"42588,00",GRD,F,BIS,САНКТ-ПЕТЕРБУРГ Г,MAR,100000,1,0,"0,482558",1.60
1,0,49,94209,1,10,"15569,00",SCH,M,PNA,ОБЛ НИЖЕГОРОДСКАЯ,MAR,37000,0,0,"0,379280",1.10
2,0,24,4383,3,4,"11899,00",GRD,M,SPC,МОСКВА,UNM,50000,1,0,"0,237500",1.60
3,0,25,26656,2,12,"15019,00",SCH,M,ATP,КРАСНОДАРСКИЙ КРАЙ,UNM,18000,1,0,"0,559009",1.10
4,0,40,41165,4,10,"20416,00",GRD,F,SPC,ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ - ЮГРА,MAR,35000,1,0,"0,324815",1.32

# NaN

In [6]:
data.isnull().sum()

Test                        0
age                         0
client_id                   0
credit_count            13933
credit_month                0
credit_sum                  0
education                   0
gender                      0
job_position                0
living_region             308
marital_status              0
monthly_income              1
open_account_flg        91940
overdue_credit_count    13933
score_shk                   0
tariff_id                   0
dtype: int64

In [7]:
dat = pd.DataFrame()
dat['HasInfoCredit'] = (~data.credit_count.isnull()).astype(int)

In [8]:
data['monthly_income'] = data['monthly_income'].fillna(data['monthly_income'].mean())
data['living_region'] = data['living_region'].fillna('-1')
data['credit_count'] = data['credit_count'].fillna(-1)
data['overdue_credit_count'] = data['overdue_credit_count'].fillna(-1)

# feat base

In [9]:
dat['Test'] = data['Test']

dat['age'] = data['age']

dat['credit_month'] = data['credit_month']

data['credit_sum'] = data['credit_sum'].apply(lambda x: x.replace(',','.'))
dat['credit_sum'] = data['credit_sum'].apply(float)

dat['tariff_id'] = data['tariff_id']

data['score_shk'] = data['score_shk'].apply(lambda x: x.replace(',','.'))
dat['score_shk'] = data['score_shk'].apply(float)

dat['monthly_income'] = data['monthly_income']

dat['credit_count'] = data['credit_count']

dat['overdue_credit_count'] = data['overdue_credit_count']

# OHE

In [10]:
dat['m'] = data['marital_status']
dat = pd.get_dummies(dat,columns = ['m']).rename(columns=lambda x: str(x))

dat['job_position'] = data['job_position']
dat = pd.get_dummies(dat,columns = ['job_position']).rename(columns=lambda x: str(x))

dat['credit_month'] = data['credit_month']
dat = pd.get_dummies(dat,columns = ['credit_month']).rename(columns=lambda x: str(x))

dat['tariff_id'] = data['tariff_id']
dat = pd.get_dummies(dat,columns = ['tariff_id']).rename(columns=lambda x: str(x))

dat['education'] = data['education']
dat = pd.get_dummies(dat,columns = ['education']).rename(columns=lambda x: str(x))

In [11]:

dat['credit_month'] = data['credit_month']
dat['tariff_id'] = data['tariff_id']

In [12]:
dat['tariff_id'].unique()

array([ 1.6 ,  1.1 ,  1.32,  1.44,  1.21,  1.16,  1.5 ,  1.9 ,  1.4 ,
        1.19,  1.2 ,  1.17,  1.43,  1.91,  1.3 ,  1.94,  1.  ,  1.24,
        1.23,  1.22,  1.7 ,  1.41,  1.25,  1.52,  1.56,  1.18,  1.48,
        1.26,  1.28,  1.29,  1.27,  1.96])

# NEWfeat

In [13]:
data['normalize_reg'] = data['living_region'].apply(normalize_reg)

In [14]:
dat['АО'] = data.living_region.str.contains('АО')
dat['obl'] = data.living_region.str.contains('ОБЛ')
dat['cray'] = data.living_region.str.contains('КРАЙ')
dat['resp'] = data.living_region.str.contains('РЕСП')
dat['mosk'] = data.living_region.str.contains('МОСК')
dat['moskva'] = data.living_region.str.contains('МОСКВА')
dat['sankt'] = data.living_region.str.contains('САНКТ')

dat['HaveCredit'] = dat['credit_count'].apply(have_credit)

dat['HaveOverdue'] = dat['overdue_credit_count'].apply(have_credit)

In [15]:
data['living_region'].value_counts()[0:150].sum()/len(data)

0.9868930967010042

In [ ]:
def add_r(x):
    return x+'r'
dat['reg'] = data['normalize_reg']
freq_breeds = set(dat.reg.value_counts()[:70].index)
dat['mestn'] = dat.reg.apply(lambda x: x if x in freq_breeds else 'Rare')
dat['mestn'] = dat['mestn'].apply(add_r)
dat = pd.get_dummies(dat,columns = ['mestn']).rename(columns=lambda x: str(x))

In [16]:
dat['living_region'] = data['living_region']
freq_breeds = set(dat.living_region.value_counts()[:150].index)
dat['mestn'] = dat.living_region.apply(lambda x: x if x in freq_breeds else 'Rare')
dat = pd.get_dummies(dat,columns = ['mestn']).rename(columns=lambda x: str(x))

In [17]:
dat['reg'] = data['normalize_reg']
freq_breeds = set(dat.reg.value_counts()[:70].index)
dat['mestn'] = dat.reg.apply(lambda x: x if x in freq_breeds else 'Rare')

In [18]:
dat['living_region'] = data['living_region']
freq_breeds = set(dat.living_region.value_counts()[:150].index)
dat['liv_reg'] = dat.living_region.apply(lambda x: x if x in freq_breeds else 'Rare')

# factorize

In [19]:
dat['gender'] = pd.factorize(data['gender'])[0]

dat['marital_status'] = pd.factorize(data['marital_status'])[0]

dat['job_position'] = pd.factorize(data['job_position'])[0]

dat['education'] = pd.factorize(data['education'])[0]

dat['living_region'] = pd.factorize(dat['living_region'])[0]

dat['reg'] = pd.factorize(dat['reg'])[0]
dat['mestn'] = pd.factorize(dat['mestn'])[0]
dat['liv_reg'] = pd.factorize(dat['liv_reg'])[0]

# Count Factorize

In [20]:
freq = data.gender.value_counts(normalize=True).to_dict()
dat['gender_freq'] = data.gender.apply(lambda x: freq[x])

freq = data.marital_status.value_counts(normalize=True).to_dict()
dat['marital_status_freq'] = data.marital_status.apply(lambda x: freq[x])

freq = data.job_position.value_counts(normalize=True).to_dict()
dat['job_position_freq'] = data.job_position.apply(lambda x: freq[x])

freq = data.education.value_counts(normalize=True).to_dict()
dat['education_freq'] = data.education.apply(lambda x: freq[x])

freq = data.living_region.value_counts(normalize=True).to_dict()
dat['living_region_freq'] = data.living_region.apply(lambda x: freq[x])

freq = dat.reg.value_counts(normalize=True).to_dict()
dat['reg_freq'] = dat.reg.apply(lambda x: freq[x])

freq = dat.mestn.value_counts(normalize=True).to_dict()
dat['mestn_freq'] = dat.mestn.apply(lambda x: freq[x])

freq = dat.liv_reg.value_counts(normalize=True).to_dict()
dat['liv_reg_freq'] = dat.liv_reg.apply(lambda x: freq[x])

freq = dat.tariff_id.value_counts(normalize=True).to_dict()
dat['tariff_id_freq'] = dat.tariff_id.apply(lambda x: freq[x])

# Evristic

In [21]:
def divide_0(a, b):
    if b>0:
        return a/b
    else:
        return 0
    
def divide_0(a, b):
    if b>0:
        return a/b
    else:
        return 0#!!!!!!!!!!!!!!!!!!!!!!!!!!

In [22]:
dat['NameLength'] = data.living_region.apply(len)
dat['NameLength_reg'] = data.normalize_reg.apply(len)
dat['zar-cre'] = dat['monthly_income']-dat['credit_sum']
dat['cou-cre'] = dat['credit_count']-dat['credit_sum']
dat['cou-over'] = dat['credit_count']-dat['overdue_credit_count']
dat['sum_babos'] = dat['credit_month']*dat['monthly_income']
dat['otn_babos'] = dat['sum_babos']-dat['credit_sum']
dat['zar-age'] = dat['monthly_income']*dat['age']
dat['bab-sum'] = dat['sum_babos']-dat['credit_sum']
dat['pos_del'] = dat['bab-sum'].apply(pos)

dat['met1'] = dat['tariff_id']*dat['score_shk']
dat['met2'] = dat['tariff_id']+dat['score_shk']
dat['met2'] = dat['tariff_id']-dat['score_shk']

In [ ]:
dat['NameLength'] = data.living_region.apply(len)
dat['NameLength_reg'] = data.normalize_reg.apply(len)

In [ ]:

#dat['zar/cre'] = dat.apply(lambda row: divide(row['monthly_income'], row['credit_sum']), axis=1)

In [ ]:

dat['zar/cre'] = dat.apply(lambda row: divide(row['monthly_income'], row['credit_sum']), axis=1)
dat['cou/cre'] = dat.apply(lambda row: divide(row['credit_count'], row['credit_sum']), axis=1)
dat['cou-over'] = dat['credit_count']-dat['overdue_credit_count']
dat['sum_babos'] = dat['credit_month']*dat['monthly_income']
dat['otn_babos'] = dat.apply(lambda row: divide(row['sum_babos'], row['credit_sum']), axis=1)
dat['zar/age'] = dat.apply(lambda row: divide(row['monthly_income'], row['age']), axis=1)
dat['bab-sum'] = dat['sum_babos']-dat['credit_sum']
dat['pos_del'] = dat['bab-sum'].apply(pos)

In [ ]:
dat.shape

In [ ]:
del(data)

# Base Visual

In [ ]:
plt.plot(train['client_id'][0:200],y[0:200])
plt.show()

In [ ]:
#outcome.value_counts().plot(kind='pie', figsize=(5,5))
y.value_counts().plot(kind='pie')
plt.show()

In [ ]:
data.age.unique()

In [ ]:
dat['age'] = data['age']
dat.head()

In [ ]:
data['age'].value_counts().plot(kind = 'pie')
plt.show()

In [ ]:
data['age'].value_counts().plot(kind = 'barh')
plt.show()

In [ ]:
data['age'].plot(kind = 'hist',bins = 30)
plt.show()

In [ ]:
data['age'].plot(kind = 'hist', logy= True, bins=20)
plt.show()

# marital_status

In [ ]:
data['marital_status'].unique()

In [ ]:
data['marital_status'].value_counts().plot(kind='pie')
plt.show()

# job_position

In [ ]:
data['job_position'].unique()

In [ ]:
data['job_position'].value_counts().plot(kind = 'pie')
plt.show()

# 	credit_sum

In [ ]:
#data['credit_sum'].value_counts().plot(kind = 'barh')
dat['credit_sum'].plot(kind = 'hist')
plt.show()

In [ ]:
data['credit_sum'].plot(kind = 'hist', logy = True)
plt.show()

# credit_month

In [ ]:
data['credit_month'].unique()

In [ ]:
data['credit_month'].value_counts().plot(kind='pie')
plt.show()

# tariff_id

In [ ]:
data['tariff_id'].unique()

In [ ]:
data['tariff_id'].value_counts().plot(kind='pie')
plt.show()

# score_shk

In [ ]:
len(dat['score_shk'].unique())

In [ ]:
dat['score_shk'].plot(kind = 'hist',bins=20)
plt.show()

In [ ]:
data['score_shk'].plot(kind = 'hist',logy = True)
plt.show()

# education

In [ ]:
data['education'].unique()

In [ ]:
data['education'].value_counts().plot(kind = 'pie')
plt.show()

In [ ]:
data['education'].value_counts().plot(kind = 'barh')
plt.show()

# living_region

In [ ]:
data['living_region'].unique()

In [ ]:
data['living_region'].value_counts().plot(kind = 'pie')
plt.show()

In [ ]:
data['living_region'].value_counts()[0:110].sum()/len(data)

# monthly_income
Месячный заработок

In [ ]:
data['monthly_income'].plot(kind = "hist",bins = 80)
plt.show()

# credit_count
кличество кредитов у клиента

In [ ]:
data['credit_count'].unique()

In [ ]:
data['credit_count'].value_counts().plot(kind = 'pie')
plt.show()

# overdue_credit_count
количество невернутых кредитов

In [ ]:
data['overdue_credit_count'].unique()

In [ ]:
data['overdue_credit_count'].value_counts().plot(kind = 'pie')
plt.show()

In [ ]:
data['overdue_credit_count'].value_counts().plot(kind = 'barh')
plt.show()

# validation!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [ ]:
dat = dat.fillna(-1)

In [ ]:
dat.head()

In [ ]:
train = dat[dat.Test == 0].drop('Test', axis=1).copy()
test = dat[dat.Test == 1].drop('Test', axis=1).copy()

In [ ]:
feat = list(set(train.columns) - {'client_id'})

In [ ]:
Xtr, Xval, ytr, yval = train_test_split(train,y,random_state = 7, test_size=0.25)

In [ ]:
feat = list(set(Xtr.columns) - {'client_id'})
del(train)
del(test)

In [ ]:
def transf_cat(train,test,feat_cat,feat_cont,fold,alpha):
    test['Proba'] = 0
    train['Proba'] = 0
    n_folds = fold
    kf = KFold(train.shape[0],n_folds)#,shuffle=True
    for train_index, val_index in kf:
        print("new_fold")
        
        training_data, validation_data = train.loc[train_index], train.loc[val_index]
        m=np.mean(training_data[feat_cont])
        training_data['new_feat'] = (training_data.groupby(feat_cat)[feat_cont].transform("mean")*training_data.groupby([feat_cat])[feat_cat].transform('size')+alpha*m*np.ones(len(training_data.groupby([feat_cat])[feat_cat].transform('size'))))/(training_data.groupby([feat_cat])[feat_cat].transform('size')+aplha)
        dat = training_data.groupby(feat_cat,as_index=False).mean()
        d={}
        for i in range(len(dat)):
            d[dat[feat_cat][i]] = dat['new_feat'][i]
        
        def gr(x):
            try:
                return d[x]
            except:
                return m  
        train['Proba'].loc[val_index] = train[feat_cat].loc[val_index].apply(gr)
        test_new = test[feat_cat].apply(gr)
        test['Proba'] += np.array(test_new)
    return train['Proba'],test['Proba']*(1/n_folds)
from sklearn.cross_validation import KFold
time data_tr['latitude'+"n"] , data_val['latitude'+"n"] = transf_cat(data_tr,data_val,'latitude',"cool",20)

In [37]:
dat['client_id'] = data['client_id']

In [ ]:
dat.head()

In [23]:
dat['open_account_flg'] = data['open_account_flg']

In [38]:
Xtr = dat[dat['Test']==0]
Xval = dat[dat['Test']==1]
train = dat[dat['Test']!=2]
test = dat[dat['Test']==2]
ytr = Xtr.open_account_flg
yval = Xval.open_account_flg
feat = list(set(Xtr.columns)-{'open_account_flg','Test','client_id'})
print(Xtr.shape,Xval.shape,test.shape)

(128059, 292) (42687, 292) (91940, 292)

# Training

In [ ]:
Xtr.shape

# Xgboost

In [25]:
dtr = xgb.DMatrix(Xtr[feat_new], label= ytr)
dval = xgb.DMatrix(Xval[feat_new], label= yval)
watchlist = [(dtr, 'train'), (dval, 'eval')]
history = dict()

NameError: name 'feat_new' is not defined

In [26]:
dtr = xgb.DMatrix(Xtr[feat], label= ytr)
dval = xgb.DMatrix(Xval[feat], label= yval)
watchlist = [(dtr, 'train'), (dval, 'eval')]
history = dict()
#binary:logistic

In [28]:
params = {
    'max_depth': 6,
    'eta': 0.025,
    'nthread': 4,
    #'gamma' : 1,
    'alpha' : 1,
    'subsample': 0.85,
    'eval_metric': ['auc'],
    'objective': 'binary:logistic',
    #'objective': 'reg:linear',
    'colsample_bytree': 0.9,
    'min_child_weight': 20,
    'scale_pos_weight':(1-train.open_account_flg.mean())/train.open_account_flg.mean(),
    'seed':7
}

In [29]:
(1-train.open_account_flg.mean())/train.open_account_flg.mean()

4.680928932659036

In [ ]:
xgb.cv(params, dtr, 1000, nfold=5,
       metrics={'auc'}, seed = 7,verbose_eval=10,
       callbacks=[xgb.callback.print_evaluation(show_stdv=True)])

In [30]:
model_new = xgb.train(params, dtr, num_boost_round=1900, evals=watchlist,evals_result=history, verbose_eval=50)

[0]	train-auc:0.724892	eval-auc:0.720186
[50]	train-auc:0.757767	eval-auc:0.750738
[100]	train-auc:0.770668	eval-auc:0.760092
[150]	train-auc:0.778689	eval-auc:0.765048
[200]	train-auc:0.784554	eval-auc:0.768099
[250]	train-auc:0.788588	eval-auc:0.769822
[300]	train-auc:0.792123	eval-auc:0.771004
[350]	train-auc:0.795034	eval-auc:0.772039
[400]	train-auc:0.797601	eval-auc:0.772652
[450]	train-auc:0.799842	eval-auc:0.773117
[500]	train-auc:0.802016	eval-auc:0.773513
[550]	train-auc:0.804118	eval-auc:0.773863
[600]	train-auc:0.806133	eval-auc:0.774131
[650]	train-auc:0.808097	eval-auc:0.774291
[700]	train-auc:0.810146	eval-auc:0.774326
[750]	train-auc:0.812086	eval-auc:0.774478
[800]	train-auc:0.814159	eval-auc:0.774454
[850]	train-auc:0.816063	eval-auc:0.774477
[900]	train-auc:0.818077	eval-auc:0.774557

KeyboardInterrupt:

In [31]:
dtra = xgb.DMatrix(train[feat], label= train.open_account_flg)
dte = xgb.DMatrix(test[feat])
watchlist = [(dtra, 'train'), (dval, 'eval')]
history = dict()

In [ ]:
train-auc:0.819951	eval-auc:0.772139

In [32]:
model = xgb.train(params, dtra, num_boost_round=1000, evals=watchlist,evals_result=history, verbose_eval=50)

[0]	train-auc:0.724952	eval-auc:0.725628
[50]	train-auc:0.757682	eval-auc:0.759071
[100]	train-auc:0.769288	eval-auc:0.770576
[150]	train-auc:0.77669	eval-auc:0.777873
[200]	train-auc:0.781588	eval-auc:0.782764
[250]	train-auc:0.785239	eval-auc:0.786326
[300]	train-auc:0.788488	eval-auc:0.789413
[350]	train-auc:0.79108	eval-auc:0.791976
[400]	train-auc:0.79303	eval-auc:0.793823
[450]	train-auc:0.795208	eval-auc:0.795946
[500]	train-auc:0.797274	eval-auc:0.797975
[550]	train-auc:0.799089	eval-auc:0.799748
[600]	train-auc:0.800817	eval-auc:0.801443
[650]	train-auc:0.802681	eval-auc:0.803308
[700]	train-auc:0.804454	eval-auc:0.80506
[750]	train-auc:0.806084	eval-auc:0.806662
[800]	train-auc:0.807766	eval-auc:0.808299
[850]	train-auc:0.809434	eval-auc:0.810005
[900]	train-auc:0.810913	eval-auc:0.811497
[950]	train-auc:0.812727	eval-auc:0.81323

In [ ]:
[950]	train-auc:0.780643	eval-auc:0.764583 all get(4)
        [400]	train-auc:0.875557	eval-auc:0.76265 10
                [950]	train-auc:0.794613	eval-auc:0.765007 5
                        0/7716 (100 liv)
                        0.7717(150)
                        0.7710(50)
                        0.7721(weight)
                        0.7718
                        0768 non get dum live
                        0767 non get(base feat)
                        07689 get reg non get other
                        07694
                        07721 all get
                        0772374 a=1
                        07727
                        07724 g=1
                        07732 a1 all get
                        800]	train-auc:0.811587	eval-auc:0.773429

In [45]:
xgb.plot_importance(model,title='Feature importance',  height=0.1,  xlabel='F score', ylabel='Features',  importance_type='gain',grid=False, )
plt.show()

In [ ]:
imps = pd.Series(model.get_fscore()).sort_values()[-150:]
imps.plot(kind='bar', figsize=(15,6),logy=False)
plt.show()

In [ ]:
Xval.shape

In [ ]:
imps

In [ ]:
dict_imp = model.get_fscore()
dict_imp

In [ ]:
dict_imp['HasInfoCredit']
feat_new = []
for i in range(len(dict_imp)):
    try:
        if dict_imp[feat[i]]>30:
            feat_new.append(feat[i])
    except:
        print('!')
        #feat_new.append(feat[i])

In [ ]:
len(feat_new)

In [ ]:
dtrain = xgb.DMatrix(train[feat], label= y)

In [ ]:
dtrain = xgb.DMatrix(train[feat], label= y)

In [ ]:
del(data)

In [ ]:
model = xgb.train(params, dtrain, num_boost_round=1000, evals=watchlist,evals_result=history, verbose_eval=50)

In [ ]:
dtest = xgb.DMatrix(test[feat])

In [ ]:
pred_xgb_reg = model.predict(dtest)

In [33]:
pred_xgb = model.predict(dte)

In [34]:
sub = pd.DataFrame()

In [39]:
sub['_ID_'] = test['client_id']
sub.head()

          _ID_
170746  170747
170747  170748
170748  170749
170749  170750
170750  170751

In [57]:
x2['_VAL_'][0]

0.054483085870742798

In [58]:
sub['_VAL_'] = pred_xgb

In [65]:
sub['_VAL_'] = (sub['_VAL_']+x2['_VAL_'])*0.5

In [66]:
sub.head()

     _ID_     _VAL_
0  170747  0.152230
1  170748  0.275681
2  170749  0.455527
3  170750  0.352204
4  170751  0.190927

In [63]:
sub = f.copy()

In [67]:
sub.to_csv('pred/xgbmean.csv',index=False)

In [ ]:
sub['_VAL_1'] = x1['_VAL_']
sub['_VAL_2'] = x2['_VAL_']

In [ ]:
xgb_proba5getall_7723(6)all110.csv

In [62]:
f = pd.read_csv('pred/xgb_proba5getall_7745(6)all150+count+meta.csv')

In [47]:
x1 = pd.read_csv('pred/xgb_proba5getall_765.csv')
x2 = pd.read_csv('pred/xgb_proba5getall_771(6)all150.csv')
x3 = pd.read_csv('pred/xgb_proba5getall_7722(6)all110+reg(70).csv')

In [48]:
import scipy.stats as stats
stats.pearsonr(x1['_VAL_'],x2['_VAL_']),stats.spearmanr(x1['_VAL_'],x2['_VAL_']),stats.kendalltau(x1['_VAL_'],x2['_VAL_'])

((0.96514852040973276, 0.0),
 SpearmanrResult(correlation=0.96158334698888681, pvalue=0.0),
 KendalltauResult(correlation=0.84478097970191379, pvalue=0.0))

In [51]:
stats.pearsonr(pred_xgb,x3['_VAL_']),stats.spearmanr(pred_xgb,x3['_VAL_']),stats.kendalltau(pred_xgb,x3['_VAL_'])

((0.98275928377980926, 0.0),
 SpearmanrResult(correlation=0.98190090673746078, pvalue=0.0),
 KendalltauResult(correlation=0.89095079842911507, pvalue=0.0))

In [49]:
stats.pearsonr(pred_xgb,x2['_VAL_']),stats.spearmanr(pred_xgb,x2['_VAL_']),stats.kendalltau(pred_xgb,x2['_VAL_'])

((0.93519206786386422, 0.0),
 SpearmanrResult(correlation=0.97053624311979014, pvalue=0.0),
 KendalltauResult(correlation=0.86050650421678954, pvalue=0.0))

In [50]:
stats.pearsonr(pred_xgb,x1['_VAL_']),stats.spearmanr(pred_xgb,x1['_VAL_']),stats.kendalltau(pred_xgb,x1['_VAL_'])

((0.91437929659034733, 0.0),
 SpearmanrResult(correlation=0.94679167222988125, pvalue=0.0),
 KendalltauResult(correlation=0.80919557703104117, pvalue=0.0))

In [ ]:
stats.pearsonr(pred_xgb,pred_xgb_reg),stats.spearmanr(pred_xgb,pred_xgb_reg),stats.kendalltau(pred_xgb,pred_xgb_reg)