In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                             'foo', 'bar', 'foo', 'foo'],
                       'B' : ['one', 'one', 'two', 'three',
                              'two', 'two', 'one', 'three'],
                       'C' : np.random.randn(8),
                       'D' : ['4','2','1','2','3','1','1','4']})

In [2]:
val = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                             'foo', 'bar', 'foo', 'foo','foo','foo'],
                       'B' : ['one', 'one', 'two', 'three','four','four',
                              'two', 'two', 'one', 'three'],
                       'C' : np.random.randn(10),
                       'D' : [1,3,1,3,3,1,1,1,1,1]})

In [3]:
from scipy.stats import mode

In [9]:
d = df[df.duplicated(['A','D'],take_last=False)]

/home/dz/.local/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: the take_last=False keyword is deprecated, use keep='first' instead
  if __name__ == '__main__':

In [22]:
d = df[df.duplicated(['A'],keep='last')]

In [23]:
d

     A      B         C  D
0  foo    one -0.636555  4
1  bar    one  1.576674  2
2  foo    two  0.038125  1
3  bar  three -0.880408  2
4  foo    two  0.023313  3
6  foo    one  0.021819  1

In [8]:
df

     A      B         C  D
0  foo    one -0.636555  4
1  bar    one  1.576674  2
2  foo    two  0.038125  1
3  bar  three -0.880408  2
4  foo    two  0.023313  3
5  bar    two  0.221114  1
6  foo    one  0.021819  1
7  foo  three -0.320607  4

In [41]:
df['new'] = df.groupby('D').transform('count')
df

     A      B         C  D  new
0  foo    one -1.222378  4    2
1  bar    one -0.061302  2    2
2  foo    two -0.055345  1    3
3  bar  three  0.105291  2    2
4  foo    two -0.101842  3    1
5  bar    two -0.386264  1    3
6  foo    one  1.569915  1    3
7  foo  three -0.563462  4    2

In [30]:
rem = set(['2','3'])
def filter_cat(x):
    if x in rem:
        return np.nan
    return x
#df['D'] = df['D'].apply(lambda x: filter_cat(x),1)
#df['D'] = pd.factorize(df['D'].values, sort=True)[0]

In [32]:
df['D'].apply(lambda x: filter_cat(x),1).values

array(['4', nan, '1', nan, nan, '1', '1', '4'], dtype=object)

In [34]:
pd.factorize(df['D'].apply(lambda x: filter_cat(x),1).values, sort=True)[0]

array([ 1, -1,  0, -1, -1,  0,  0,  1])

In [36]:
df['real_cat'] = df.groupby('B')['C'].transform("mean")
df

     A      B         C  D  real_cat
0  foo    one -1.319615  3 -0.287808
1  bar    one  0.298485  3 -0.287808
2  foo    two -0.093906  1  0.239831
3  bar  three  1.273732  3 -0.731830
4  foo    two  0.254811  3  0.239831
5  bar    two  0.558586  1  0.239831
6  foo    one  0.157707  1 -0.287808
7  foo  three -2.737392  1 -0.731830

In [31]:
df.B.unique()['real_cat']

/home/dz/.local/lib/python3.5/site-packages/ipykernel/__main__.py:1: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  if __name__ == '__main__':

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [41]:
d={}
dat = df.groupby('B',as_index=False).mean()
dat

       B         C         D  real_cat
0    one -0.287808  2.333333 -0.287808
1  three -0.731830  2.000000 -0.731830
2    two  0.239831  1.666667  0.239831

In [44]:
d={}
for i in range(len(dat)):
    d[dat['B'][i]] = dat['real_cat'][i]
d['one']

-0.28780767680226499

In [49]:
r=[]
for i in range(len(val)):
    try:
        r.append(d[val.B[i]])
    except:
        r.append(np.mean(df.C))

In [50]:
val['real_cat'] = r
val

     A      B         C  D  real_cat
0  foo    one -0.326514  3 -0.287808
1  bar    one -0.005164  3 -0.287808
2  foo    two  1.623382  1  0.239831
3  bar  three -1.114902  3 -0.731830
4  foo   four  1.294863  3 -0.200949
5  bar   four  0.686514  1 -0.200949
6  foo    two -0.925343  1  0.239831
7  foo    two -0.887049  1  0.239831
8  foo    one -0.893602  1 -0.287808
9  foo  three  0.380548  1 -0.731830

In [ ]:
 pd.factorize(joined[column].values, sort=True)[0]

In [20]:
df["Q"]=pd.factorize(df['B'],sort=True)[0]
df

     A      B         C  D  Q
0  foo    one -0.589294  3  0
1  bar    one  0.708349  3  0
2  foo    two  0.026175  1  2
3  bar  three  0.527266  3  1
4  foo    two  0.054937  3  2
5  bar    two -0.029980  1  2
6  foo    one -0.848201  1  0
7  foo  three -0.348524  1  1

In [27]:
df.groupby(['A','B'])

In [12]:
df['mode']=df.groupby(['A','B'])['D'].transform(mode)
df

/home/dz/.local/lib/python3.5/site-packages/scipy/stats/stats.py:249: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

     A      B         C  D mode
0  foo    one  2.424048  4  [1]
1  bar    one -0.841599  2    2
2  foo    two  0.414313  1  [1]
3  bar  three -1.777108  2    2
4  foo    two  0.829200  3  [1]
5  bar    two -0.350100  1    1
6  foo    one  0.993509  1  [1]
7  foo  three  0.118495  4    4

In [59]:
df.C/df.D

0   -0.822673
1    0.221540
2    0.439018
3    0.159024
4    0.201730
5   -0.744606
6   -0.537335
7    0.069548
dtype: float64

In [61]:
def divide(a, b):
    if b>0:
        return a/b
    else:
        return a
df['Value'] = df.apply(lambda row: divide(row['C'], row['D']), axis=1)
df

     A      B         C    D     Value
0  foo    one -0.904940  1.1 -0.822673
1  bar    one  0.221540  1.0  0.221540
2  foo    two  1.009741  2.3  0.439018
3  bar  three  0.477072  3.0  0.159024
4  foo    two  0.806922  4.0  0.201730
5  bar    two -0.744606  1.0 -0.744606
6  foo    one -0.537335  1.0 -0.537335
7  foo  three  0.069548  1.0  0.069548

In [56]:
d = pd.DataFrame({'A':[1,1,3,4,4]})
S=d.mode()

In [22]:
S[0]

KeyError: 0

In [7]:
df.mode()

     A    B   C   D
0  foo  one NaN NaN
1  NaN  two NaN NaN

In [6]:
data=df.groupby(['A','B'],as_index=False).mode()
data

AttributeError: Cannot access callable attribute 'mode' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [31]:
data['dif']=data.groupby('A').apply(lambda x: (x['C'] - x['D']))
data

TypeError: incompatible index of inserted column with frame index

In [27]:
def z(x):
    return 1-x[['D']]

In [28]:
d = df.groupby(['A','B'],as_index=False).agg({'C':z,"D":'sum'})

In [29]:
d

     A      B         D   C
0  bar    one  1.500330 NaN
1  bar  three  0.385209 NaN
2  bar    two  0.586017 NaN
3  foo    one -0.848162 NaN
4  foo  three  0.280647 NaN
5  foo    two -1.858239 NaN

In [38]:
data = pd.merge(data,d,on=['A','B'])

In [39]:
data

     A      B       C_x         D       C_y
0  bar    one -2.249928  1.101250 -2.249928
1  bar  three  1.154370 -0.031658  1.154370
2  bar    two  0.424047 -0.220235  0.424047
3  foo    one  0.353050  0.279761  0.861615
4  foo  three  0.596201  0.153164  0.596201
5  foo    two  0.079205  0.357230  0.010493

In [49]:
df['mode']=df.groupby(['B'],as_index=False).mode()

AttributeError: Cannot access callable attribute 'mode' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [45]:
df

     A      B         C  D  mode
0  foo    one  0.183538  1     1
1  bar    one -2.108717  1   NaN
2  foo    two  0.222595  2   NaN
3  bar  three -0.342796  3   NaN
4  foo    two -1.048870  4   NaN
5  bar    two -0.125378  1   NaN
6  foo    one -0.826015  1   NaN
7  foo  three  1.171971  1   NaN

In [22]:
df.groupby(['A'],as_index=False).first()

     A    B         C         D
0  bar  one -2.249928  1.101250
1  foo  one  0.353050  0.279761