In [3]:
# загрузим библиотеки и установим опции

from __future__ import division, print_function
# отключим всякие предупреждения Anaconda
import warnings
warnings.filterwarnings('ignore')
#%matplotlib inline

from matplotlib import pyplot as plt
plt.style.use('ggplot')
%matplotlib
import seaborn as sns


import pickle
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from scipy.sparse import hstack
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression

import re

Using matplotlib backend: Qt5Agg

In [2]:
import xgboost as xgb

/home/dz/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
import keras

Using Theano backend.

In [5]:
test_df = pd.read_csv('data/test_sessions.csv')
times = ['time%s' % i for i in range(1, 11)]
test_df[times] = test_df[times].apply(pd.to_datetime)
test_df = test_df.sort_values(by='time1')
test_df

,session_id,site1,time1,site2,time2,site3,time3,site4,time4,site5,...,site6,time6,site7,time7,site8,time8,site9,time9,site10,time10
65539,65540,21,2014-05-01 17:14:03,NaN,NaT,NaN,NaT,NaN,NaT,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
64198,64199,23,2014-05-02 07:52:08,66.0,2014-05-02 07:54:08,63.0,2014-05-02 07:54:08,2626.0,2014-05-02 07:55:09,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
2267,2268,979,2014-05-02 07:57:51,73.0,2014-05-02 07:59:34,NaN,NaT,NaN,NaT,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
29733,29734,66,2014-05-02 08:05:16,69.0,2014-05-02 08:05:17,67.0,2014-05-02 08:05:17,70.0,2014-05-02 08:05:17,71.0,...,68.0,2014-05-02 08:05:17,71.0,2014-05-02 08:05:18,70.0,2014-05-02 08:05:18,69.0,2014-05-02 08:05:18,67.0,2014-05-02 08:05:18
77047,77048,167,2014-05-02 08:05:32,167.0,2014-05-02 08:05:33,359.0,2014-05-02 08:05:34,167.0,2014-05-02 08:05:34,167.0,...,305.0,2014-05-02 08:09:19,306.0,2014-05-02 08:09:20,306.0,2014-05-02 08:09:22,979.0,2014-05-02 08:09:54,68.0,2014-05-02 08:12:46
33525,33526,67,2014-05-02 08:06:03,70.0,2014-05-02 08:06:03,69.0,2014-05-02 08:06:03,68.0,2014-05-02 08:06:03,71.0,...,66.0,2014-05-02 08:06:03,67.0,2014-05-02 08:06:04,69.0,2014-05-02 08:06:04,69.0,2014-05-02 08:06:06,70.0,2014-05-02 08:06:07
61452,61453,69,2014-05-02 08:06:07,167.0,2014-05-02 08:06:08,67.0,2014-05-02 08:06:09,71.0,2014-05-02 08:06:09,70.0,...,23.0,2014-05-02 08:06:25,21.0,2014-05-02 08:06:25,21.0,2014-05-02 08:06:40,22.0,2014-05-02 08:06:42,23.0,2014-05-02 08:06:43
17227,17228,23,2014-05-02 08:06:40,66.0,2014-05-02 08:08:40,63.0,2014-05-02 08:08:40,21.0,2014-05-02 08:09:30,21.0,...,22.0,2014-05-02 08:09:32,23.0,2014-05-02 08:09:32,797.0,2014-05-02 08:09:37,22.0,2014-05-02 08:09:41,23.0,2014-05-02 08:09:41
44867,44868,69,2014-05-02 08:06:46,71.0,2014-05-02 08:06:46,68.0,2014-05-02 08:06:46,66.0,2014-05-02 08:06:46,70.0,...,67.0,2014-05-02 08:06:46,67.0,2014-05-02 08:06:47,69.0,2014-05-02 08:06:47,70.0,2014-05-02 08:06:47,71.0,2014-05-02 08:06:48
81683,81684,167,2014-05-02 08:06:48,70.0,2014-05-02 08:06:48,21.0,2014-05-02 08:07:34,21.0,2014-05-02 08:07:48,23.0,...,23.0,2014-05-02 08:08:04,21.0,2014-05-02 08:08:04,63.0,2014-05-02 08:08:05,797.0,2014-05-02 08:08:08,973.0,2014-05-02 08:10:37
51214,51215,66,2014-05-02 08:07:00,67.0,2014-05-02 08:07:00,71.0,2014-05-02 08:07:01,68.0,2014-05-02 08:07:01,69.0,...,67.0,2014-05-02 08:07:01,70.0,2014-05-02 08:07:01,70.0,2014-05-02 08:07:02,69.0,2014-05-02 08:07:02,69.0,2014-05-02 08:07:05
33334,33335,167,2014-05-02 08:07:05,70.0,2014-05-02 08:07:07,69.0,2014-05-02 08:07:07,67.0,2014-05-02 08:07:07,70.0,...,70.0,2014-05-02 08:07:09,71.0,2014-05-02 08:07:09,167.0,2014-05-02 08:07:23,167.0,2014-05-02 08:07:24,167.0,2014-05-02 08:07:25
61685,61686,63,2014-05-02 08:07:23,21.0,2014-05-02 08:07:31,22.0,2014-05-02 08:07:31,23.0,2014-05-02 08:07:31,797.0,...,979.0,2014-05-02 08:09:40,305.0,2014-05-02 08:12:22,306.0,2014-05-02 08:12:22,306.0,2014-05-02 08:12:24,21.0,2014-05-02 08:22:32
4851,4852,359,2014-05-02 08:07:26,3.0,2014-05-02 08:07:26,167.0,2014-05-02 08:07:26,63.0,2014-05-02 08:08:20,305.0,...,306.0,2014-05-02 08:09:50,306.0,2014-05-02 08:09:51,306.0,2014-05-02 08:09:52,981.0,2014-05-02 08:13:27,66.0,2014-05-02 08:13:29
11677,11678,820,2014-05-02 08:07:52,820.0,2014-05-02 08:07:54,21.0,2014-05-02 08:11:58,23.0,2014-05-02 08:11:59,21.0,...,23.0,2014-05-02 08:12:09,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
20146,20147,820,2014-05-02 08:08:00,820.0,2014-05-02 08:08:03,NaN,NaT,NaN,NaT,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
6050,6051,270,2014-05-02 08:08:27,270.0,2014-05-02 08:08:28,270.0,2014-05-02 08:08:30,270.0,2014-05-02 08:08:38,270.0,...,167.0,2014-05-02 08:08:44,167.0,2014-05-02 08:08:45,359.0,2014-05-02 08:08:45,3.0,2014-05-02 08:08:46,167.0,2014-05-02 08:08:46
55127,55128,66,2014-05-02 08:08:28,67.0,2014-05-02 08:08:28,69.0,2014-05-02 08:08:29,70.0,2014-05-02 08:08:29,68.0,...,71.0,2014-05-02 08:08:29,167.0,2014-05-02 08:08:30,67.0,2014-05-02 08:08:30,69.0,2014-05-02 08:08:32,63.0,2014-05-02 08:09:48
22854,22855,66,2014-05-02 08:08:30,67.0,2014-05-02 08:08:30,70.0,2014-05-02 08:08:30,71.0,2014-05-02 08:08:30,68.0,...,69.0,2014-05-02 08:08:30,69.0,2014-05-02 08:08:32,69.0,2014-05-02 08:08:33,70.0,2014-05-02 08:08:33,71.0,2014-05-02 08:08:34
43989,43990,67,2014-05-02 08:08:34,70.0,2014-05-02 08:08:34,167.0,2014-05-02 08:08:35,167.0,2014-05-02 08:08:51,167.0,...,167.0,2014-05-02 08:08:53,359.0,2014-05-02 08:08:53,167.0,2014-05-02 08:08:54,3.0,2014-05-02 08:09:06,63.0,2014-05-02 08:09:50
12946,12947,167,2014-05-02 08:08:34,167.0,2014-05-02 08:08:40,167.0,2014-05-02 08:08:41,167.0,2014-05-02 08:08:42,167.0,...,359.0,2014-05-02 08:08:43,167.0,2014-05-02 08:08:44,167.0,2014-05-02 08:08:45,3.0,2014-05-02 08:08:58,63.0,2014-05-02 08:10:01
73140,73141,797,2014-05-02 08:09:41,21.0,2014-05-02 08:09:41,21.0,2014-05-02 08:25:52,21.0,2014-05-02 08:25:53,21.0,...,733.0,2014-05-02 08:26:05,733.0,2014-05-02 08:26:06,733.0,2014-05-02 08:26:09,733.0,2014-05-02 08:26:10,733.0,2014-05-02 08:26:11
73654,73655,66,2014-05-02 08:10:03,71.0,2014-05-02 08:10:04,70.0,2014-05-02 08:10:04,69.0,2014-05-02 08:10:04,67.0,...,68.0,2014-05-02 08:10:04,67.0,2014-05-02 08:10:05,70.0,2014-05-02 08:10:05,71.0,2014-05-02 08:10:06,305.0,2014-05-02 08:11:00
68288,68289,167,2014-05-02 08:10:24,167.0,2014-05-02 08:10:25,167.0,2014-05-02 08:10:26,359.0,2014-05-02 08:10:26,167.0,...,3.0,2014-05-02 08:10:27,384.0,2014-05-02 08:10:27,167.0,2014-05-02 08:10:28,7789.0,2014-05-02 08:10:28,820.0,2014-05-02 08:11:08
37689,37690,305,2014-05-02 08:10:39,306.0,2014-05-02 08:10:39,306.0,2014-05-02 08:10:41,21.0,2014-05-02 08:16:21,22.0,...,23.0,2014-05-02 08:16:25,23.0,2014-05-02 08:16:38,22.0,2014-05-02 08:16:38,21.0,2014-05-02 08:16:38,21.0,2014-05-02 08:16:39
3708,3709,66,2014-05-02 08:10:48,67.0,2014-05-02 08:10:48,70.0,2014-05-02 08:10:48,69.0,2014-05-02 08:10:48,68.0,...,71.0,2014-05-02 08:10:48,20.0,2014-05-02 08:10:52,21.0,2014-05-02 08:10:52,167.0,2014-05-02 08:11:03,21.0,2014-05-02 08:11:04
72505,72506,270,2014-05-02 08:10:55,914.0,2014-05-02 08:10:58,912.0,2014-05-02 08:10:58,913.0,2014-05-02 08:10:58,167.0,...,167.0,2014-05-02 08:10:59,2921.0,2014-05-02 08:10:59,359.0,2014-05-02 08:10:59,1.0,2014-05-02 08:11:00,145.0,2014-05-02 08:11:00
54001,54002,2921,2014-05-02 08:11:00,167.0,2014-05-02 08:11:03,913.0,2014-05-02 08:11:03,167.0,2014-05-02 08:11:04,2922.0,...,384.0,2014-05-02 08:11:05,3.0,2014-05-02 08:11:05,167.0,2014-05-02 08:11:06,270.0,2014-05-02 08:11:07,167.0,2014-05-02 08:11:08
14131,14132,306,2014-05-02 08:11:01,306.0,2014-05-02 08:11:03,973.0,2014-05-02 08:13:13,167.0,2014-05-02 08:22:04,167.0,...,778.0,2014-05-02 08:22:06,778.0,2014-05-02 08:22:40,778.0,2014-05-02 08:22:41,779.0,2014-05-02 08:22:41,779.0,2014-05-02 08:22:42
52476,52477,23,2014-05-02 08:11:07,23.0,2014-05-02 08:11:16,27.0,2014-05-02 08:11:16,26.0,2014-05-02 08:11:16,21.0,...,31.0,2014-05-02 08:11:17,26.0,2014-05-02 08:11:17,34.0,2014-05-02 08:11:17,29.0,2014-05-02 08:11:17,29.0,2014-05-02 08:11:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40884,40885,1202,2014-12-05 18:52:13,1202.0,2014-12-05 18:52:17,1202.0,2014-12-05 18:53:10,1202.0,2014-12-05 18:53:24,1202.0,...,1202.0,2014-12-05 18:53:29,1202.0,2014-12-05 18:53:31,1202.0,2014-12-05 18:54:00,1202.0,2014-12-05 18:54:02,1202.0,2014-12-05 18:54:03
52498,52499,1202,2014-12-05 18:52:51,1202.0,2014-12-05 18:52:56,1202.0,2014-12-05 18:53:06,1202.0,2014-12-05 18:53:44,1202.0,...,1202.0,2014-12-05 18:54:10,1202.0,2014-12-05 18:54:26,1202.0,2014-12-05 18:54:28,1202.0,2014-12-05 18:54:31,1202.0,2014-12-05 18:54:34
3429,3430,56,2014-12-05 18:54:03,55.0,2014-12-05 18:54:03,NaN,NaT,NaN,NaT,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
31017,31018,1202,2014-12-05 18:54:05,1202.0,2014-12-05 18:54:06,1202.0,2014-12-05 18:54:08,1202.0,2014-12-05 18:54:10,1202.0,...,1202.0,2014-12-05 18:54:28,1202.0,2014-12-05 18:54:31,1202.0,2014-12-05 18:54:32,1202.0,2014-12-05 18:54:34,1202.0,2014-12-05 18:54:36
66830,66831,1202,2014-12-05 18:54:37,1202.0,2014-12-05 18:54:39,1202.0,2014-12-05 18:54:53,1202.0,2014-12-05 18:55:04,1202.0,...,1202.0,2014-12-05 18:55:21,1202.0,2014-12-05 18:55:23,1202.0,2014-12-05 18:55:40,1202.0,2014-12-05 18:55:42,1202.0,2014-12-05 18:55:44
686,687,1202,2014-12-05 18:54:39,1202.0,2014-12-05 18:54:55,1202.0,2014-12-05 18:55:00,1202.0,2014-12-05 18:55:04,1202.0,...,1202.0,2014-12-05 18:55:12,1202.0,2014-12-05 18:55:13,1202.0,2014-12-05 18:55:24,1202.0,2014-12-05 18:55:45,1202.0,2014-12-05 18:56:09
67649,67650,1219,2014-12-05 18:54:56,1202.0,2014-12-05 18:54:56,1222.0,2014-12-05 18:54:56,302.0,2014-12-05 18:54:56,1216.0,...,1202.0,2014-12-05 18:54:57,1221.0,2014-12-05 18:54:57,NaN,NaT,NaN,NaT,NaN,NaT
53034,53035,6003,2014-12-05 18:54:59,NaN,NaT,NaN,NaT,NaN,NaT,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
15548,15549,1202,2014-12-05 18:55:47,1202.0,2014-12-05 18:55:49,1202.0,2014-12-05 18:55:59,1202.0,2014-12-05 18:56:00,1202.0,...,1202.0,2014-12-05 18:56:09,1202.0,2014-12-05 18:56:17,1202.0,2014-12-05 18:56:18,1202.0,2014-12-05 18:56:24,1202.0,2014-12-05 18:56:26
60063,60064,1202,2014-12-05 18:56:15,1202.0,2014-12-05 18:56:21,1202.0,2014-12-05 18:56:23,1202.0,2014-12-05 18:56:24,1202.0,...,1202.0,2014-12-05 18:56:32,302.0,2014-12-05 18:56:52,1202.0,2014-12-05 18:57:32,1202.0,2014-12-05 18:57:45,1202.0,2014-12-05 18:58:01
74260,74261,1202,2014-12-05 18:56:29,1202.0,2014-12-05 18:56:32,1202.0,2014-12-05 18:56:34,1202.0,2014-12-05 18:56:35,1202.0,...,1202.0,2014-12-05 18:56:39,1202.0,2014-12-05 18:56:41,1202.0,2014-12-05 18:56:43,1202.0,2014-12-05 18:56:51,1202.0,2014-12-05 18:56:52
59485,59486,1202,2014-12-05 18:57:04,302.0,2014-12-05 18:57:09,1202.0,2014-12-05 18:57:10,1202.0,2014-12-05 18:57:26,1202.0,...,1202.0,2014-12-05 18:59:12,1202.0,2014-12-05 18:59:29,302.0,2014-12-05 19:02:09,302.0,2014-12-05 19:03:14,302.0,2014-12-05 19:03:15
46988,46989,1220,2014-12-05 18:57:46,1218.0,2014-12-05 18:57:46,1217.0,2014-12-05 18:57:46,1222.0,2014-12-05 18:57:46,1202.0,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
34079,34080,1202,2014-12-05 18:58:16,1202.0,2014-12-05 18:58:39,1202.0,2014-12-05 18:58:42,1202.0,2014-12-05 18:58:43,1202.0,...,1202.0,2014-12-05 18:58:46,1202.0,2014-12-05 18:58:48,1202.0,2014-12-05 18:59:32,1202.0,2014-12-05 18:59:33,1202.0,2014-12-05 18:59:35
59976,59977,1202,2014-12-05 18:59:38,1202.0,2014-12-05 18:59:40,1202.0,2014-12-05 18:59:52,1218.0,2014-12-05 19:00:31,1216.0,...,1217.0,2014-12-05 19:00:31,1219.0,2014-12-05 19:00:31,1220.0,2014-12-05 19:00:31,1202.0,2014-12-05 19:00:31,1221.0,2014-12-05 19:00:31
20724,20725,1222,2014-12-05 19:00:31,302.0,2014-12-05 19:00:31,300.0,2014-12-05 19:00:31,1202.0,2014-12-05 19:00:32,1220.0,...,302.0,2014-12-05 19:00:37,300.0,2014-12-05 19:00:37,NaN,NaT,NaN,NaT,NaN,NaT
21055,21056,1219,2014-12-05 19:03:15,1220.0,2014-12-05 19:03:15,1202.0,2014-12-05 19:03:15,1218.0,2014-12-05 19:03:15,1217.0,...,300.0,2014-12-05 19:03:15,1216.0,2014-12-05 19:03:15,1222.0,2014-12-05 19:03:15,1221.0,2014-12-05 19:03:15,1202.0,2014-12-05 19:03:16
12535,12536,302,2014-12-05 19:03:21,300.0,2014-12-05 19:03:21,NaN,NaT,NaN,NaT,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
52244,52245,1216,2014-12-05 19:10:03,1219.0,2014-12-05 19:10:03,1217.0,2014-12-05 19:10:03,1202.0,2014-12-05 19:10:03,1218.0,...,1222.0,2014-12-05 19:10:03,300.0,2014-12-05 19:10:03,302.0,2014-12-05 19:10:03,1221.0,2014-12-05 19:10:03,1220.0,2014-12-05 19:10:03
16203,16204,1202,2014-12-05 19:10:04,1221.0,2014-12-05 19:10:04,1216.0,2014-12-05 19:10:04,302.0,2014-12-05 19:10:05,300.0,...,302.0,2014-12-05 19:10:09,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
1212,1213,55,2014-12-05 19:24:24,56.0,2014-12-05 19:24:24,NaN,NaT,NaN,NaT,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
62044,62045,6003,2014-12-05 19:26:27,NaN,NaT,NaN,NaT,NaN,NaT,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
16466,16467,6003,2014-12-05 19:28:17,NaN,NaT,NaN,NaT,NaN,NaT,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
43749,43750,52,2014-12-05 19:35:34,55.0,2014-12-05 19:38:29,2891.0,2014-12-05 19:38:29,NaN,NaT,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
78510,78511,56,2014-12-05 19:54:36,55.0,2014-12-05 19:54:36,55.0,2014-12-05 20:24:07,56.0,2014-12-05 20:24:07,55.0,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
73505,73506,2891,2014-12-05 20:07:54,55.0,2014-12-05 20:07:54,NaN,NaT,NaN,NaT,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
59131,59132,56,2014-12-05 20:55:17,55.0,2014-12-05 20:55:17,56.0,2014-12-05 21:23:38,55.0,2014-12-05 21:23:38,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
78587,78588,56,2014-12-05 21:54:46,55.0,2014-12-05 21:54:46,NaN,NaT,NaN,NaT,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
26998,26999,56,2014-12-05 22:26:40,55.0,2014-12-05 22:26:40,56.0,2014-12-05 22:55:10,55.0,2014-12-05 22:55:10,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT
60140,60141,56,2014-12-05 23:26:53,55.0,2014-12-05 23:26:53,56.0,2014-12-05 23:56:23,55.0,2014-12-05 23:56:23,NaN,...,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT

In [36]:
# загрузим обучающую и тестовую выборки
train_df = pd.read_csv('data/train_sessions.csv')#,index_col='session_id')
test_df = pd.read_csv('data/test_sessions.csv')#, index_col='session_id')

# приведем колонки time1, ..., time10 к временному формату
times = ['time%s' % i for i in range(1, 11)]
train_df[times] = train_df[times].apply(pd.to_datetime)
test_df[times] = test_df[times].apply(pd.to_datetime)

# отсортируем данные по времени
train_df = train_df.sort_values(by='time1')

# посмотрим на заголовок обучающей выборки
train_df.head()

,session_id,site1,time1,site2,time2,site3,time3,site4,time4,site5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
21668,21669,56,2013-01-12 08:05:57,55.0,2013-01-12 08:05:57,NaN,NaT,NaN,NaT,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
54842,54843,56,2013-01-12 08:37:23,55.0,2013-01-12 08:37:23,56.0,2013-01-12 09:07:07,55.0,2013-01-12 09:07:09,NaN,...,NaT,NaN,NaT,NaN,NaT,NaN,NaT,NaN,NaT,0
77291,77292,946,2013-01-12 08:50:13,946.0,2013-01-12 08:50:14,951.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:15,946.0,...,2013-01-12 08:50:16,948.0,2013-01-12 08:50:16,784.0,2013-01-12 08:50:16,949.0,2013-01-12 08:50:17,946.0,2013-01-12 08:50:17,0
114020,114021,945,2013-01-12 08:50:17,948.0,2013-01-12 08:50:17,949.0,2013-01-12 08:50:18,948.0,2013-01-12 08:50:18,945.0,...,2013-01-12 08:50:18,947.0,2013-01-12 08:50:19,945.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:20,0
146669,146670,947,2013-01-12 08:50:20,950.0,2013-01-12 08:50:20,948.0,2013-01-12 08:50:20,947.0,2013-01-12 08:50:21,950.0,...,2013-01-12 08:50:21,946.0,2013-01-12 08:50:21,951.0,2013-01-12 08:50:22,946.0,2013-01-12 08:50:22,947.0,2013-01-12 08:50:22,0

In [38]:
train_df

,session_id,site1,time1,site2,time2,site3,time3,site4,time4,site5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
21668,21669,56,2013-01-12 08:05:57,55.0,2013-01-12 08:05:57,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,...,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0
54842,54843,56,2013-01-12 08:37:23,55.0,2013-01-12 08:37:23,56.0,2013-01-12 09:07:07,55.0,2013-01-12 09:07:09,0.0,...,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0
77291,77292,946,2013-01-12 08:50:13,946.0,2013-01-12 08:50:14,951.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:15,946.0,...,2013-01-12 08:50:16,948.0,2013-01-12 08:50:16,784.0,2013-01-12 08:50:16,949.0,2013-01-12 08:50:17,946.0,2013-01-12 08:50:17,0
114020,114021,945,2013-01-12 08:50:17,948.0,2013-01-12 08:50:17,949.0,2013-01-12 08:50:18,948.0,2013-01-12 08:50:18,945.0,...,2013-01-12 08:50:18,947.0,2013-01-12 08:50:19,945.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:20,0
146669,146670,947,2013-01-12 08:50:20,950.0,2013-01-12 08:50:20,948.0,2013-01-12 08:50:20,947.0,2013-01-12 08:50:21,950.0,...,2013-01-12 08:50:21,946.0,2013-01-12 08:50:21,951.0,2013-01-12 08:50:22,946.0,2013-01-12 08:50:22,947.0,2013-01-12 08:50:22,0
242170,242171,952,2013-01-12 08:50:22,947.0,2013-01-12 08:50:23,953.0,2013-01-12 08:50:23,946.0,2013-01-12 08:50:23,947.0,...,2013-01-12 08:50:24,953.0,2013-01-12 08:50:24,955.0,2013-01-12 08:50:24,946.0,2013-01-12 08:50:25,947.0,2013-01-12 08:50:25,0
57156,57157,953,2013-01-12 08:50:25,947.0,2013-01-12 08:50:26,946.0,2013-01-12 08:50:26,953.0,2013-01-12 08:50:26,955.0,...,2013-01-12 08:50:27,953.0,2013-01-12 08:50:27,946.0,2013-01-12 08:50:27,953.0,2013-01-12 08:50:28,1033.0,2013-01-12 08:50:28,0
240200,240201,946,2013-01-12 08:50:28,947.0,2013-01-12 08:50:28,954.0,2013-01-12 08:50:28,953.0,2013-01-12 08:50:29,946.0,...,2013-01-12 08:50:29,946.0,2013-01-12 08:50:30,956.0,2013-01-12 08:50:30,957.0,2013-01-12 08:50:31,956.0,2013-01-12 08:50:31,0
210685,210686,946,2013-01-12 08:50:31,956.0,2013-01-12 08:50:32,946.0,2013-01-12 08:50:32,946.0,2013-01-12 08:50:33,955.0,...,2013-01-12 08:50:33,946.0,2013-01-12 08:50:34,946.0,2013-01-12 08:50:35,946.0,2013-01-12 08:50:36,948.0,2013-01-12 08:50:36,0
98803,98804,948,2013-01-12 08:50:37,946.0,2013-01-12 08:50:37,948.0,2013-01-12 08:50:38,784.0,2013-01-12 08:50:49,49.0,...,2013-01-12 08:51:03,812.0,2013-01-12 08:51:03,982.0,2013-01-12 08:51:03,52.0,2013-01-12 08:51:03,52.0,2013-01-12 08:51:04,0
113493,113494,52,2013-01-12 08:51:05,52.0,2013-01-12 08:51:27,52.0,2013-01-12 08:51:31,747.0,2013-01-12 08:51:32,747.0,...,2013-01-12 08:51:34,23.0,2013-01-12 08:51:34,747.0,2013-01-12 08:51:35,568.0,2013-01-12 08:51:36,23.0,2013-01-12 08:51:36,0
223836,223837,513,2013-01-12 08:51:36,1116.0,2013-01-12 08:51:36,747.0,2013-01-12 08:51:36,23.0,2013-01-12 08:51:37,747.0,...,2013-01-12 08:51:39,29.0,2013-01-12 08:51:40,49.0,2013-01-12 08:51:59,52.0,2013-01-12 08:52:24,21.0,2013-01-12 08:52:26,0
145474,145475,4222,2013-01-12 08:52:27,3358.0,2013-01-12 08:52:28,4222.0,2013-01-12 08:52:28,3356.0,2013-01-12 08:52:28,4222.0,...,2013-01-12 08:52:33,21.0,2013-01-12 08:52:33,3870.0,2013-01-12 08:52:34,3358.0,2013-01-12 08:52:42,21.0,2013-01-12 08:53:09,0
186632,186633,38667,2013-01-12 08:53:09,181.0,2013-01-12 08:53:09,23.0,2013-01-12 08:53:09,181.0,2013-01-12 08:53:10,38667.0,...,2013-01-12 08:53:10,182.0,2013-01-12 08:53:10,181.0,2013-01-12 08:53:11,38667.0,2013-01-12 08:53:11,55.0,2013-01-12 08:53:25,0
45192,45193,56,2013-01-12 08:53:25,55.0,2013-01-12 08:53:26,679.0,2013-01-12 08:54:15,676.0,2013-01-12 08:54:15,814.0,...,2013-01-12 08:54:23,39.0,2013-01-12 08:54:24,815.0,2013-01-12 08:54:26,752.0,2013-01-12 08:54:33,50.0,2013-01-12 08:54:57,0
102929,102930,570,2013-01-12 08:55:10,23.0,2013-01-12 08:55:11,21.0,2013-01-12 08:55:16,3356.0,2013-01-12 08:55:23,48.0,...,2013-01-12 09:00:57,570.0,2013-01-12 09:05:20,513.0,2013-01-12 09:11:28,1379.0,2013-01-12 09:11:31,21.0,2013-01-12 09:14:59,0
15788,15789,820,2013-01-12 08:59:34,820.0,2013-01-12 08:59:36,980.0,2013-01-12 08:59:40,49.0,2013-01-12 09:00:05,56.0,...,2013-01-12 09:00:57,49.0,2013-01-12 09:01:07,784.0,2013-01-12 09:04:21,222.0,2013-01-12 09:06:04,50.0,2013-01-12 09:08:04,0
205867,205868,48,2013-01-12 09:10:04,56.0,2013-01-12 09:31:21,55.0,2013-01-12 09:31:21,55.0,2013-01-12 09:31:22,0.0,...,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0
21101,21102,5898,2013-01-12 09:14:59,5898.0,2013-01-12 09:15:00,5794.0,2013-01-12 09:15:29,21.0,2013-01-12 09:15:29,5794.0,...,2013-01-12 09:15:31,21.0,2013-01-12 09:15:37,182.0,2013-01-12 09:15:38,23.0,2013-01-12 09:15:38,181.0,2013-01-12 09:15:38,0
193453,193454,2570,2013-01-12 09:15:38,2570.0,2013-01-12 09:15:39,21.0,2013-01-12 09:17:06,21.0,2013-01-12 09:17:07,1102.0,...,2013-01-12 09:17:09,23.0,2013-01-12 09:19:53,570.0,2013-01-12 09:19:55,707.0,2013-01-12 09:19:55,21.0,2013-01-12 09:19:55,0
252923,252924,22,2013-01-12 09:20:03,39.0,2013-01-12 09:20:03,1102.0,2013-01-12 09:20:51,21.0,2013-01-12 09:20:51,1102.0,...,2013-01-12 09:20:53,1102.0,2013-01-12 09:20:54,21.0,2013-01-12 09:23:31,177.0,2013-01-12 09:23:31,175.0,2013-01-12 09:23:32,0
12712,12713,177,2013-01-12 09:23:33,178.0,2013-01-12 09:23:33,175.0,2013-01-12 09:23:33,48.0,2013-01-12 09:23:33,21.0,...,2013-01-12 09:23:48,176.0,2013-01-12 09:24:33,175.0,2013-01-12 09:24:33,177.0,2013-01-12 09:24:34,55.0,2013-01-12 09:25:03,0
182015,182016,56,2013-01-12 09:25:03,55.0,2013-01-12 09:25:04,570.0,2013-01-12 09:27:53,570.0,2013-01-12 09:30:51,1038.0,...,2013-01-12 09:39:49,22.0,2013-01-12 09:40:18,774.0,2013-01-12 09:40:18,570.0,2013-01-12 09:47:53,0.0,1970-01-01 00:00:00,0
55749,55750,56,2013-01-12 09:37:32,55.0,2013-01-12 09:37:32,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,...,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0
237108,237109,56,2013-01-12 09:56:03,55.0,2013-01-12 09:56:03,55.0,2013-01-12 09:56:04,1038.0,2013-01-12 10:00:20,52.0,...,2013-01-12 10:02:01,21.0,2013-01-12 10:02:06,4277.0,2013-01-12 10:02:07,21.0,2013-01-12 10:02:07,4277.0,2013-01-12 10:02:08,0
120125,120126,4277,2013-01-12 10:02:11,342.0,2013-01-12 10:02:11,733.0,2013-01-12 10:02:34,733.0,2013-01-12 10:02:35,733.0,...,2013-01-12 10:02:37,733.0,2013-01-12 10:02:38,23.0,2013-01-12 10:02:38,733.0,2013-01-12 10:02:39,733.0,2013-01-12 10:02:41,0
140104,140105,733,2013-01-12 10:02:46,49.0,2013-01-12 10:04:02,17232.0,2013-01-12 10:04:04,50.0,2013-01-12 10:04:04,48.0,...,2013-01-12 10:04:48,23.0,2013-01-12 10:04:54,21.0,2013-01-12 10:05:07,989.0,2013-01-12 10:05:07,38.0,2013-01-12 10:05:08,0
129356,129357,753,2013-01-12 10:05:08,532.0,2013-01-12 10:05:08,1020.0,2013-01-12 10:05:09,989.0,2013-01-12 10:05:09,1021.0,...,2013-01-12 10:05:10,48.0,2013-01-12 10:05:10,990.0,2013-01-12 10:05:11,544.0,2013-01-12 10:05:25,22.0,2013-01-12 10:05:31,0
136698,136699,733,2013-01-12 10:05:32,733.0,2013-01-12 10:05:33,733.0,2013-01-12 10:05:36,733.0,2013-01-12 10:05:38,733.0,...,2013-01-12 10:05:57,17232.0,2013-01-12 10:05:59,989.0,2013-01-12 10:06:00,17232.0,2013-01-12 10:06:00,21.0,2013-01-12 10:06:18,0
113188,113189,38668,2013-01-12 10:06:19,733.0,2013-01-12 10:06:34,733.0,2013-01-12 10:06:35,733.0,2013-01-12 10:06:39,733.0,...,2013-01-12 10:06:44,568.0,2013-01-12 10:07:04,21.0,2013-01-12 10:07:24,1126.0,2013-01-12 10:07:25,52.0,2013-01-12 10:07:25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131401,131402,23,2014-04-30 16:54:28,21.0,2014-04-30 16:54:33,229.0,2014-04-30 16:54:33,21.0,2014-04-30 16:54:36,229.0,...,2014-04-30 16:54:39,229.0,2014-04-30 16:54:39,21.0,2014-04-30 16:54:43,229.0,2014-04-30 16:54:43,229.0,2014-04-30 16:57:06,0
72348,72349,229,2014-04-30 16:57:08,880.0,2014-04-30 16:57:09,21.0,2014-04-30 16:57:09,21.0,2014-04-30 16:57:19,229.0,...,2014-04-30 16:57:25,21.0,2014-04-30 16:57:25,38.0,2014-04-30 16:57:25,37261.0,2014-04-30 16:57:25,37261.0,2014-04-30 16:57:26,0
181939,181940,38,2014-04-30 16:57:26,80.0,2014-04-30 16:58:00,80.0,2014-04-30 16:58:16,80.0,2014-04-30 17:06:40,812.0,...,2014-04-30 17:06:41,75.0,2014-04-30 17:06:41,879.0,2014-04-30 17:06:41,78.0,2014-04-30 17:06:41,80.0,2014-04-30 17:06:41,0
67430,67431,6003,2014-04-30 17:04:42,6003.0,2014-04-30 17:04:53,6004.0,2014-04-30 17:04:53,0.0,1970-01-01 00:00:00,0.0,...,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0
133255,133256,75,2014-04-30 17:06:42,617.0,2014-04-30 17:06:42,77.0,2014-04-30 17:06:42,80.0,2014-04-30 17:06:42,76.0,...,2014-04-30 17:06:42,22.0,2014-04-30 17:06:43,75.0,2014-04-30 17:06:43,77.0,2014-04-30 17:06:43,1441.0,2014-04-30 17:06:43,0
78515,78516,23,2014-04-30 17:06:45,76.0,2014-04-30 17:06:46,80.0,2014-04-30 17:06:47,879.0,2014-04-30 17:06:47,78.0,...,2014-04-30 17:06:48,22.0,2014-04-30 17:06:48,75.0,2014-04-30 17:06:48,77.0,2014-04-30 17:06:48,22.0,2014-04-30 17:06:49,0
159244,159245,77,2014-04-30 17:06:49,80.0,2014-04-30 17:06:54,76.0,2014-04-30 17:06:54,879.0,2014-04-30 17:06:54,23.0,...,2014-04-30 17:06:54,77.0,2014-04-30 17:06:55,1307.0,2014-04-30 17:06:55,81.0,2014-04-30 17:06:55,80.0,2014-04-30 17:06:55,0
6102,6103,78,2014-04-30 17:06:55,76.0,2014-04-30 17:06:56,77.0,2014-04-30 17:06:56,1440.0,2014-04-30 17:06:56,22.0,...,2014-04-30 17:06:57,76.0,2014-04-30 17:06:57,617.0,2014-04-30 17:06:57,37238.0,2014-04-30 17:06:58,76.0,2014-04-30 17:07:00,0
126231,126232,78,2014-04-30 17:07:01,22.0,2014-04-30 17:07:12,22.0,2014-04-30 17:07:13,617.0,2014-04-30 17:07:13,81.0,...,2014-04-30 17:07:13,80.0,2014-04-30 17:07:13,81.0,2014-04-30 17:07:15,75.0,2014-04-30 17:07:18,270.0,2014-04-30 17:07:18,0
62542,62543,270,2014-04-30 17:07:19,270.0,2014-04-30 17:07:20,270.0,2014-04-30 17:07:21,167.0,2014-04-30 17:07:22,167.0,...,2014-04-30 17:07:24,52.0,2014-04-30 17:07:26,21.0,2014-04-30 17:07:35,10747.0,2014-04-30 17:07:35,229.0,2014-04-30 17:07:35,0
122172,122173,10747,2014-04-30 17:07:36,4890.0,2014-04-30 17:07:36,10747.0,2014-04-30 17:07:56,812.0,2014-04-30 17:07:58,80.0,...,2014-04-30 17:08:05,76.0,2014-04-30 17:08:36,178.0,2014-04-30 17:10:08,175.0,2014-04-30 17:10:08,177.0,2014-04-30 17:10:08,0
182722,182723,21,2014-04-30 17:10:08,229.0,2014-04-30 17:10:08,177.0,2014-04-30 17:10:09,812.0,2014-04-30 17:10:14,81.0,...,2014-04-30 17:10:34,80.0,2014-04-30 17:10:34,75.0,2014-04-30 17:10:34,77.0,2014-04-30 17:10:34,77.0,2014-04-30 17:10:36,0
216795,216796,77,2014-04-30 17:10:46,77.0,2014-04-30 17:11:04,812.0,2014-04-30 17:11:04,80.0,2014-04-30 17:11:07,75.0,...,2014-04-30 17:11:08,881.0,2014-04-30 17:11:08,76.0,2014-04-30 17:11:08,80.0,2014-04-30 17:11:08,77.0,2014-04-30 17:11:08,0
88872,88873,76,2014-04-30 17:11:09,80.0,2014-04-30 17:11:09,617.0,2014-04-30 17:11:09,881.0,2014-04-30 17:11:09,1439.0,...,2014-04-30 17:11:10,76.0,2014-04-30 17:11:10,22.0,2014-04-30 17:11:10,80.0,2014-04-30 17:11:11,76.0,2014-04-30 17:11:15,0
201959,201960,78,2014-04-30 17:11:19,881.0,2014-04-30 17:11:19,80.0,2014-04-30 17:11:19,76.0,2014-04-30 17:14:00,881.0,...,2014-04-30 17:14:13,812.0,2014-04-30 17:14:13,76.0,2014-04-30 17:14:13,77.0,2014-04-30 17:14:18,77.0,2014-04-30 17:14:37,0
99917,99918,77,2014-04-30 17:14:44,812.0,2014-04-30 17:14:45,76.0,2014-04-30 17:15:21,22.0,2014-04-30 17:15:22,77.0,...,2014-04-30 17:15:22,75.0,2014-04-30 17:15:23,80.0,2014-04-30 17:15:24,75.0,2014-04-30 17:15:24,22.0,2014-04-30 17:15:24,0
35922,35923,76,2014-04-30 17:15:24,81.0,2014-04-30 17:15:24,1307.0,2014-04-30 17:15:24,77.0,2014-04-30 17:15:25,1442.0,...,2014-04-30 17:15:26,37239.0,2014-04-30 17:15:26,617.0,2014-04-30 17:15:26,22.0,2014-04-30 17:15:27,37238.0,2014-04-30 17:15:27,0
91325,91326,76,2014-04-30 17:15:30,816.0,2014-04-30 17:15:32,812.0,2014-04-30 17:15:42,78.0,2014-04-30 17:15:42,76.0,...,2014-04-30 17:15:42,617.0,2014-04-30 17:15:43,81.0,2014-04-30 17:15:43,80.0,2014-04-30 17:16:41,76.0,2014-04-30 17:16:52,0
182877,182878,22,2014-04-30 17:18:43,81.0,2014-04-30 17:20:12,77.0,2014-04-30 17:20:12,80.0,2014-04-30 17:20:12,812.0,...,2014-04-30 17:20:12,77.0,2014-04-30 17:20:13,77.0,2014-04-30 17:20:41,77.0,2014-04-30 17:20:43,76.0,2014-04-30 17:24:43,0
36911,36912,80,2014-04-30 17:24:43,80.0,2014-04-30 17:24:53,2338.0,2014-04-30 17:27:43,812.0,2014-04-30 17:29:36,616.0,...,2014-04-30 17:29:41,616.0,2014-04-30 17:29:43,616.0,2014-04-30 17:29:44,23.0,2014-04-30 17:29:44,23.0,2014-04-30 17:29:50,0
101405,101406,774,2014-04-30 17:29:53,812.0,2014-04-30 17:29:53,816.0,2014-04-30 17:29:54,812.0,2014-04-30 17:29:55,23.0,...,2014-04-30 17:29:55,676.0,2014-04-30 17:29:55,39.0,2014-04-30 17:29:55,39.0,2014-04-30 17:29:56,679.0,2014-04-30 17:29:56,0
66476,66477,21,2014-04-30 17:29:56,676.0,2014-04-30 17:29:56,812.0,2014-04-30 17:29:57,77.0,2014-04-30 17:29:58,77.0,...,2014-04-30 17:29:59,616.0,2014-04-30 17:29:59,676.0,2014-04-30 17:29:59,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0
221865,221866,784,2014-04-30 18:06:47,784.0,2014-04-30 18:30:52,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,...,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0
101394,101395,6003,2014-04-30 18:13:09,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,...,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0
33801,33802,784,2014-04-30 18:24:35,784.0,2014-04-30 18:26:01,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,...,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0
12223,12224,50,2014-04-30 23:33:48,50.0,2014-04-30 23:33:49,48.0,2014-04-30 23:33:52,49.0,2014-04-30 23:33:52,48.0,...,2014-04-30 23:33:53,52.0,2014-04-30 23:33:54,49.0,2014-04-30 23:33:54,303.0,2014-04-30 23:33:57,304.0,2014-04-30 23:34:00,0
164437,164438,4207,2014-04-30 23:34:15,753.0,2014-04-30 23:34:16,753.0,2014-04-30 23:34:17,52.0,2014-04-30 23:34:18,50.0,...,2014-04-30 23:35:16,3346.0,2014-04-30 23:35:29,3359.0,2014-04-30 23:36:12,3346.0,2014-04-30 23:36:42,38.0,2014-04-30 23:37:13,0
12220,12221,52,2014-04-30 23:38:08,3346.0,2014-04-30 23:38:10,784.0,2014-04-30 23:38:13,784.0,2014-04-30 23:38:18,3346.0,...,2014-04-30 23:38:24,3324.0,2014-04-30 23:38:35,7330.0,2014-04-30 23:38:35,3594.0,2014-04-30 23:38:35,3329.0,2014-04-30 23:38:36,0
156967,156968,3328,2014-04-30 23:38:36,3324.0,2014-04-30 23:38:36,3599.0,2014-04-30 23:38:38,3413.0,2014-04-30 23:38:38,753.0,...,2014-04-30 23:38:40,3599.0,2014-04-30 23:38:40,3359.0,2014-04-30 23:39:07,3359.0,2014-04-30 23:39:08,3346.0,2014-04-30 23:39:53,0
204761,204762,222,2014-04-30 23:39:53,3346.0,2014-04-30 23:39:59,3346.0,2014-04-30 23:40:00,3359.0,2014-04-30 23:40:05,55.0,...,2014-04-30 23:40:05,3346.0,2014-04-30 23:40:05,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0.0,1970-01-01 00:00:00,0

In [37]:
train_df = train_df.fillna(0)

In [41]:
c = train_df['time3'][0]

In [42]:
c = train_df['time3'][0]
def isnan(x):
    if x==c:
        return 1
    else:
        return 0
is_nan = train_df['time1'].apply(isnan)
for i in range(2,11):
    is_nan = is_nan + train_df['time'+str(i)].apply(isnan )

In [44]:
is_nan

21668     8
54842     6
77291     0
114020    0
146669    0
242170    0
57156     0
240200    0
210685    0
98803     0
113493    0
223836    0
145474    0
186632    0
45192     0
102929    0
15788     0
205867    6
21101     0
193453    0
252923    0
12712     0
182015    1
55749     8
237108    0
120125    0
140104    0
129356    0
136698    0
113188    0
         ..
131401    0
72348     0
181939    0
67430     7
133255    0
78515     0
159244    0
6102      0
126231    0
62542     0
122172    0
182722    0
216795    0
88872     0
201959    0
99917     0
35922     0
91325     0
182877    0
36911     0
101405    0
66476     2
221865    8
101394    9
33801     8
12223     0
164437    0
12220     0
156967    0
204761    3
dtype: int64

In [5]:
sites = ['site%s' % i for i in range(1, 11)]
train_df[sites] = train_df[sites].fillna(0).astype('int').astype('str')
test_df[sites] = test_df[sites].fillna(0).astype('int').astype('str')

In [6]:
from gensim.models import word2vec

In [7]:
train_df['list'] = train_df['site1']
test_df['list'] = test_df['site1']
for s in sites[1:]:
    train_df['list'] = train_df['list']+","+train_df[s]
    test_df['list'] = test_df['list']+","+test_df[s]

In [8]:
train_df.head()

,session_id,site1,time1,site2,time2,site3,time3,site4,time4,site5,...,site7,time7,site8,time8,site9,time9,site10,time10,target,list
21668,21669,56,2013-01-12 08:05:57,55,2013-01-12 08:05:57,0,NaT,0,NaT,0,...,0,NaT,0,NaT,0,NaT,0,NaT,0,"56,55,0,0,0,0,0,0,0,0"
54842,54843,56,2013-01-12 08:37:23,55,2013-01-12 08:37:23,56,2013-01-12 09:07:07,55,2013-01-12 09:07:09,0,...,0,NaT,0,NaT,0,NaT,0,NaT,0,"56,55,56,55,0,0,0,0,0,0"
77291,77292,946,2013-01-12 08:50:13,946,2013-01-12 08:50:14,951,2013-01-12 08:50:15,946,2013-01-12 08:50:15,946,...,948,2013-01-12 08:50:16,784,2013-01-12 08:50:16,949,2013-01-12 08:50:17,946,2013-01-12 08:50:17,0,"946,946,951,946,946,945,948,784,949,946"
114020,114021,945,2013-01-12 08:50:17,948,2013-01-12 08:50:17,949,2013-01-12 08:50:18,948,2013-01-12 08:50:18,945,...,947,2013-01-12 08:50:19,945,2013-01-12 08:50:19,946,2013-01-12 08:50:19,946,2013-01-12 08:50:20,0,"945,948,949,948,945,946,947,945,946,946"
146669,146670,947,2013-01-12 08:50:20,950,2013-01-12 08:50:20,948,2013-01-12 08:50:20,947,2013-01-12 08:50:21,950,...,946,2013-01-12 08:50:21,951,2013-01-12 08:50:22,946,2013-01-12 08:50:22,947,2013-01-12 08:50:22,0,"947,950,948,947,950,952,946,951,946,947"

In [9]:
train_df['list_w'] = train_df['list'].apply(lambda x: x.split(','))
test_df['list_w'] = test_df['list'].apply(lambda x: x.split(','))

In [10]:
train_df.head(2)

,session_id,site1,time1,site2,time2,site3,time3,site4,time4,site5,...,time7,site8,time8,site9,time9,site10,time10,target,list,list_w
21668,21669,56,2013-01-12 08:05:57,55,2013-01-12 08:05:57,0,NaT,0,NaT,0,...,NaT,0,NaT,0,NaT,0,NaT,0,"56,55,0,0,0,0,0,0,0,0","[56, 55, 0, 0, 0, 0, 0, 0, 0, 0]"
54842,54843,56,2013-01-12 08:37:23,55,2013-01-12 08:37:23,56,2013-01-12 09:07:07,55,2013-01-12 09:07:09,0,...,NaT,0,NaT,0,NaT,0,NaT,0,"56,55,56,55,0,0,0,0,0,0","[56, 55, 56, 55, 0, 0, 0, 0, 0, 0]"

In [ ]:
def get_auc_lr_valid(X, y, C=1, seed=7, ratio = 0.8):
    # разделим выборку на обучающую и валидационную
    idx = round(X.shape[0] * ratio)
    # обучение классификатора
    lr = LogisticRegression(C=C, random_state=seed, n_jobs=-1).fit(X[:idx, :], y[:idx])
    # прогноз для валидационной выборки
    y_pred = lr.predict_proba(X[idx:, :])[:, 1]
    # считаем качество
    score = roc_auc_score(y[idx:], y_pred)
    
    return score

In [ ]:
#get_auc_lr_valid(train_df, y, C=1, seed=7, ratio = 0.8)

In [ ]:
model = word2vec.Word2Vec(train_df['list_w'], size=50, window=2, workers=4)
w2v = dict(zip(model.wv.index2word, model.wv.syn0))

In [ ]:
class mean_vectorizer(object):
    def __init__(self, word2vec):
        self.word2vec = word2vec
        self.dim = len(next(iter(w2v.values())))
    
    def fit(self, X):
        return self 

    def transform(self, X):
        return np.array([
            np.mean([self.word2vec[w] for w in words if w in self.word2vec] 
                    or [np.zeros(self.dim)], axis=0)
            for words in X
        ])

In [ ]:
class mean_vectorizer(object):
    def __init__(self, word2vec):
        self.word2vec = word2vec
        self.dim = len(next(iter(w2v.values())))
    
    def fit(self, X):
        return self 

    def transform(self, X):
        return np.array([
            np.mean([self.word2vec[w] for w in words if w in self.word2vec] 
                    or [np.zeros(self.dim)], axis=0)
            for words in X
        ])

# test

In [ ]:
class mean_vectorizer(object):
    def __init__(self, word2vec):
        self.word2vec = word2vec
        self.dim = len(next(iter(w2v.values())))
    
    def fit(self, X):
        return self 

    def transform(self, X):
        for words in X:
            
         return np.array([np.array([np.concatenate((self.word2vec[w] for w in words if w in self.word2vec\
                                                   else [np.zeros(self.dim)]), axis=0)]) for words in X])

In [ ]:
train_df_mean = mean_vectorizer(w2v).fit(train_df['list_w']).transform(train_df['list_w'])

In [ ]:
train_df_mean.shape

In [ ]:
19180350/50

In [ ]:
train_df_mean.reshape(253561,500)

In [ ]:
test_df['target'] = -1

In [ ]:
train_df = pd.concat([train_df,test_df],axis=0)

In [ ]:
train_df.shape

In [ ]:
model = word2vec.Word2Vec(train_df['list_w'], size=250, window=2, workers=4)
w2v = dict(zip(model.wv.index2word, model.wv.syn0))
#train_df_mean = mean_vectorizer(w2v).fit(train_df['list_w']).transform(train_df['list_w'])

In [ ]:
test_df = train_df[train_df['target']==-1]
test_df.drop(['target'],axis=1,inplace = True)

In [ ]:
test_df_mean = mean_vectorizer(w2v).fit(test_df['list_w']).transform(test_df['list_w'])

In [ ]:
train_df = train_df[train_df['target']!=-1]
train_df.drop(['target'],axis=1,inplace = True)

In [ ]:
train_df_mean = mean_vectorizer(w2v).fit(train_df['list_w']).transform(train_df['list_w'])

In [ ]:
test_df_mean = mean_vectorizer(w2v).fit(test_df['list_w']).transform(test_df['list_w'])

In [ ]:
np.savetxt("train_df_mean_250_3_otd.csv", train_df_mean, delimiter=",")

In [ ]:
np.savetxt("test_df_mean_250_3_otd.csv", test_df_mean, delimiter=",")

In [ ]:
y = np.array(train_df['target'])

In [ ]:
time_df = pd.read_csv('data/all_time_not_nan.csv')
time_df_t = time_df[time_df['target']==-1]
time_df_t.drop(['target'],axis=1,inplace = True)
time_df_t = StandardScaler().fit_transform(time_df_t)
time_df = time_df[time_df['target']!=-1]
time_df.drop(['target'],axis=1,inplace = True)
time_df = StandardScaler().fit_transform(time_df)

In [ ]:
train_df = np.concatenate((time_df, train_df_mean), axis=1)
test_df = np.concatenate((time_df_t, test_df_mean), axis=1)

In [ ]:
def split(train,y,ratio):
    idx = round(train.shape[0] * ratio)
    return train[:idx, :], train[idx:, :], y[:idx], y[idx:]
Xtr, Xval, ytr, yval = split(train_df, y,0.8)
Xtr.shape,Xval.shape,ytr.mean(),yval.mean()

In [ ]:
from keras.models import Sequential, Model
from keras.layers import Dense, Dropout, Activation, Input
from keras.preprocessing.text import Tokenizer
from keras import regularizers

In [ ]:
model = Sequential()
model.add(Dense(128, input_dim=(Xtr.shape[1])))
model.add(Activation('relu'))
model.add(Dropout(0.5))
#model.add(Dense(128))
#model.add(Activation('relu'))
#model.add(Dropout(0.5))
model.add(Dense(1))
model.add(Activation('sigmoid'))

In [ ]:
from sklearn.metrics import roc_auc_score

In [ ]:
#kernel_regularizer=regularizers.l2(0.01),
#activity_regularizer=regularizers.l1(0.01)))

In [ ]:
model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['binary_accuracy'])
#binary_accuracy,categorical_accuracy

In [ ]:
#from keras.callbacks import TensorBoard  
#tensorboard=TensorBoard(log_dir='./logs', write_graph=True, write_images=True)

history = model.fit(Xtr, ytr,
                    batch_size=128,
                    epochs=1,
                    validation_data=(Xval, yval),
                    #validation_split=0.1,
                    class_weight='auto',
                    verbose=2)

In [ ]:
classes = model.predict(Xval, batch_size=128)

In [ ]:
roc_auc_score(yval, classes)

In [ ]:
0.95647228127018291

In [ ]:
history = model.fit(train_df, y,
                    batch_size=128,
                    epochs=1,
                    #validation_data=(Xval, yval),
                    validation_split=0.01,
                    class_weight='auto',
                    verbose=2)

In [ ]:
classes = model.predict(test_df, batch_size=64)

In [ ]:
roc_auc_score(yval, classes)

In [ ]:
{0 : 1.,1: 50.}

In [ ]:
from keras.callbacks import EarlyStopping  
early_stopping=EarlyStopping(monitor='value_loss')  

history = model.fit(Xtr, ytr,
                    batch_size=64,
                    epochs=5,
                    validation_data=(Xval, yval),
                    verbose=1,
                    #validation_split=0.2,
                    callbacks=[early_stopping])

In [ ]:
# запишем его в файл, готовый для сабмита
#функция для записи прогнозов в файл
def write_to_submission_file(predicted_labels, out_file,
                             target='target', index_label="session_id"):
    predicted_df = pd.DataFrame(predicted_labels,
                                index = np.arange(1, predicted_labels.shape[0] + 1),
                                columns=[target])
    predicted_df.to_csv(out_file, index_label=index_label)
write_to_submission_file(classes, 'pred/nn_base_250_3_time_128_otherWord.csv')

In [ ]:
dtr = xgb.DMatrix(Xtr, label= ytr,missing = np.nan)
dval = xgb.DMatrix(Xval, label= yval,missing = np.nan)
watchlist = [(dtr, 'train'), (dval, 'eval')]
history = dict()

In [ ]:
# Fit a random forest to the training data, using 100 trees
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier( n_estimators = 100 )

print "Fitting a random forest to labeled training data..."
forest = forest.fit( trainDataVecs, train["sentiment"] )

# Test & extract results 
result = forest.predict( testDataVecs )

# Write the test results 
output = pd.DataFrame( data={"id":test["id"], "sentiment":result} )
output.to_csv( "Word2Vec_AverageVectors.csv", index=False, quoting=3 )

In [ ]:
# создадим отдельный датафрейм, где будем работать со временем
time_df = pd.DataFrame(train_df[times]).reset_index()
test_df = pd.DataFrame(test_df[times]).reset_index()
#time_df['index'] = np.array(train_df['session_id'])
time_df['target'] = train_df['target']
# найдем время начала и окончания сессии
#time_df['min'] = train_df[times].min(axis=1)
#time_df['max'] = train_df[times].max(axis=1)

# вычислим длительность сессии и переведем в секунды
#time_df['seconds'] = (time_df['max'] - time_df['min']) / np.timedelta64(1, 's')

time_df.head()

In [ ]:
time_df.shape,test_df.shape

In [ ]:
test_df['target'] = -1

In [ ]:
time_df = pd.concat([time_df,test_df],axis=0)
time_df.shape

In [ ]:
time_df

In [ ]:
dates = pd.to_datetime(time_df['time1'])
time_df['Hour'] = dates.apply(lambda x: x.hour)
time_df['day'] = dates.apply(lambda x: x.day)
time_df['month'] = dates.apply(lambda x: x.month)
time_df['year'] = dates.apply(lambda x: x.year)
time_df['sec_in_week'+'time1'] = dates.apply(lambda x: 24*60*60*x.day+ 60*60*x.hour + 60*x.minute+x.second)
time_df['sec_in_day'+'time1'] = dates.apply(lambda x: 60*60*x.hour + 60*x.minute+x.second)
time_df['sec_in_hour'+"time1"] = dates.apply(lambda x: 60*x.minute+x.second)
time_df.drop(['time1'],axis=1,inplace = True)
for t in times[1:]:
    dates = pd.to_datetime(time_df[t])
    time_df['sec_in_week'+t] = dates.apply(lambda x: 24*60*60*x.day+ 60*60*x.hour + 60*x.minute+x.second)
    time_df['sec_in_day'+t] = dates.apply(lambda x: 60*60*x.hour + 60*x.minute+x.second)
    time_df['sec_in_hour'+t] = dates.apply(lambda x: 60*x.minute+x.second)
    time_df.drop([t],axis=1,inplace = True)
time_df.head()

In [ ]:
for i in range(len(times)-1):
    t1 = times[i]
    t2 = times[i+1]
    time_df['delta_sec'+t2] = (time_df['sec_in_hour'+t2]-time_df['sec_in_hour'+t1])%3600
time_df.head()

In [ ]:
time_df.shape

In [ ]:
times_delta = ['delta_sectime%s'% i for i in range(2,11)]
times_delta

In [ ]:
from scipy.stats import kurtosis,skew, mode

In [ ]:
time_df['max-min'] = time_df[times_delta].max(axis=1) - time_df[times_delta].min(axis=1)
time_df['std'] = time_df[times_delta].std(axis=1)
time_df['mean'] = time_df[times_delta].mean(axis=1)
time_df['median'] = time_df[times_delta].median(axis=1)
time_df['max'] = time_df[times_delta].max(axis=1)
time_df['min'] = time_df[times_delta].min(axis=1)
time_df['sem'] = time_df[times_delta].sem(axis=1)
time_df['sum'] = time_df[times_delta].sum(axis=1)
time_df['kurtosis'] = time_df[times_delta].kurtosis(axis=1)
time_df['skew'] = time_df[times_delta].skew(axis=1)
#time_df['mode'] = time_df[times_delta].mode(axis=1)#error
time_df['max+min'] = (time_df['max'] + time_df['min'])*0.5
time_df.head()

In [ ]:
for i in range(5,100,5):
    print(i)
    time_df['perc_{}'.format(i)] = time_df[times_delta].quantile(i/100,axis=1)

In [ ]:
def divide(a, b):
    if b>0:
        return a/b
    else:
        return -1

In [ ]:
time_df.reset_index(inplace = True)

In [ ]:
time_df

In [ ]:
time_df['mean-med'] = time_df['mean'] - time_df['median']
time_df['razmah_75_25'] = time_df['perc_75'] - time_df['perc_25']
time_df['koef_oscil'] = time_df.apply(lambda row: divide(row['max-min'], row['mean']), axis=1)
time_df['koef_oscil_med'] = time_df.apply(lambda row: divide(row['max-min'], row['median']), axis=1)
time_df['koef_var_'] = time_df.apply(lambda row: divide(row['std'], row['mean']), axis=1)
time_df['koef_var_med'] = time_df.apply(lambda row: divide(row['std'], row['median']), axis=1)
time_df['koef_quant_'] = time_df.apply(lambda row: divide(row['razmah_75_25'], row['mean']), axis=1)
time_df['koef_quant_med'] = time_df.apply(lambda row: divide(row['razmah_75_25'], row['median']), axis=1)
time_df['mean/med'] = time_df.apply(lambda row: divide(row['mean'], row['median']), axis=1)

In [ ]:
for i in range(10,100,5):
    print(i)
    time_df['dperc_{}'.format(i)] = time_df['perc_{}'.format(i)]-time_df['perc_{}'.format(i-5)]

In [ ]:
time_df.drop(['level_0','index'],axis=1,inplace = True)

In [ ]:
time_df.to_csv('data/all_time_nan.csv',index = False)

In [ ]:
time_df = time_df.fillna(-9999)

In [ ]:
time_df.to_csv('data/all_time_not_nan.csv',index = False)

In [ ]:
time_df.shape

In [ ]:
time_df = pd.read_csv('data/all_time_not_nan.csv')
time_df_t = time_df[time_df['target']==-1]
time_df_t.drop(['target'],axis=1,inplace = True)
time_df_t = StandardScaler().fit_transform(time_df_t)
time_df = time_df[time_df['target']!=-1]
time_df.drop(['target'],axis=1,inplace = True)
time_df = StandardScaler().fit_transform(time_df)

In [ ]:
time_df.shape,train_df_mean.shape,test_df_mean.shape,time_df_t.shape,y.shape

In [ ]:
train_df = np.concatenate((time_df, train_df_mean), axis=1)
test_df = np.concatenate((time_df_t, test_df_mean), axis=1)

In [ ]:
train_df.shape

In [ ]:
def split(train,y,ratio):
    idx = round(train.shape[0] * ratio)
    return train[:idx], train[idx:], y[:idx], y[idx:]
Xtr, Xval, ytr, yval = split(time_df, y,0.8)
Xtr.shape,Xval.shape,ytr.mean(),yval.mean()

In [ ]:
Xtr, Xval, ytr, yval = train_test_split(time_df[feat], time_df.target,random_state = 7, test_size=0.25)

In [ ]:
def split(train,y,ratio):
    idx = round(train.shape[0] * ratio)
    return train[:idx, :], train[idx:, :], y[:idx], y[idx:]
Xtr, Xval, ytr, yval = split(train_df, y,0.8)
Xtr.shape,Xval.shape,ytr.mean(),yval.mean()

In [ ]:
import xgboost as xgb

In [ ]:
dtr = xgb.DMatrix(Xtr, label= ytr,missing = np.nan)
dval = xgb.DMatrix(Xval, label= yval,missing = np.nan)
watchlist = [(dtr, 'train'), (dval, 'eval')]
history = dict()

In [ ]:
params = {
    'max_depth': 6,
    'eta': 0.025,
    'nthread': 4,
    #'gamma' : 1,
    'alpha' : 1,
    'subsample': 0.85,
    'eval_metric': ['auc'],
    'objective': 'binary:logistic',
    #'objective': 'reg:linear',
    'colsample_bytree': 0.9,
    'min_child_weight': 20,
    'scale_pos_weight':(1)/y.mean(),
    'seed':7
}

In [ ]:
model_new = xgb.train(params, dtr, num_boost_round=1900, evals=watchlist,evals_result=history, verbose_eval=20)

In [ ]:
[80]	train-auc:0.961231	eval-auc:0.907617 250 word2vec
        train-auc:0.972142	eval-auc:0.915109 1/mean

In [ ]:
[80]	train-auc:0.992534	eval-auc:0.96465

In [ ]:
print(get_auc_lr_valid(time_df[feat], time_df.target))

In [ ]:
# создадим отдельный датафрейм, где будем работать со временем
time_df = pd.DataFrame(index=train_df.index)
time_df['target'] = train_df['target']

# найдем время начала и окончания сессии
time_df['min'] = train_df[times].min(axis=1)
time_df['max'] = train_df[times].max(axis=1)

# вычислим длительность сессии и переведем в секунды
time_df['seconds'] = (time_df['max'] - time_df['min']) / np.timedelta64(1, 's')

time_df.head()

In [ ]:
60*60

In [ ]:
# наша целевая переменная
y_train = train_df['target']

# объединенная таблица исходных данных
full_df = pd.concat([train_df.drop('target', axis=1), test_df])

# индекс, по которому будем отделять обучающую выборку от тестовой
idx_split = train_df.shape[0]

In [ ]:
# табличка с индексами посещенных сайтов в сессии
full_sites = full_df[sites]
full_sites.head()

In [ ]:
# последовательность с индексами
sites_flatten = full_sites.values.flatten()

# искомая матрица
full_sites_sparse = csr_matrix(([1] * sites_flatten.shape[0],
                                sites_flatten,
                                range(0, sites_flatten.shape[0]  + 10, 10)))[:, 1:]

In [ ]:
# Сколько места занимает разреженная матрица в памяти?
print('{0} elements * {1} bytes = {2} bytes'.format(full_sites_sparse.count_nonzero(), 8, 
                                                    full_sites_sparse.count_nonzero() * 8))
# или сразу вот так:
print('sparse_matrix_size = {0} bytes'.format(full_sites_sparse.data.nbytes))

In [ ]:
sites_dict.head()

In [ ]:
x = 'docs.jboss.org'
re.findall(".\w+",x)[0]

In [ ]:
def resl2(x):
    return re.findall("\w+.",x)[-1]
    #return x[-2:]
def resl3(x):
    return re.findall(".\w+",x)[0]
def resl4(x):
    return x[-4:]

In [ ]:
sites_dict['l2'] = sites_dict['site'].apply(resl2)
sites_dict['l3'] = sites_dict['site'].apply(resl3)
sites_dict['l4'] = sites_dict['site'].apply(resl4)

In [ ]:
sites_dict['l3'].value_counts()

In [ ]:
sites_dict['target'] = train_df['target']

In [ ]:
sites_dict.groupby('l2')['target'].count().plot(kind='bar', rot=45)
sites_dict.groupby('l2')['target'].sum().plot(kind='bar',colors = 'r', rot=45)
plt.show()

In [ ]:
train_df_mean = pd.DataFrame()

In [ ]:
full_tr = xgb.DMatrix(train_df, label= y,missing = np.nan)
watchlist = [(full_tr, 'train')]
history = dict()

In [ ]:
model_full = xgb.train(params, full_tr, num_boost_round=100, evals=watchlist,evals_result=history, verbose_eval=20)

In [ ]:
test_df_mean.shape,train_df_mean.shape

In [ ]:
#функция для записи прогнозов в файл
def write_to_submission_file(predicted_labels, out_file,
                             target='target', index_label="session_id"):
    predicted_df = pd.DataFrame(predicted_labels,
                                index = np.arange(1, predicted_labels.shape[0] + 1),
                                columns=[target])
    predicted_df.to_csv(out_file, index_label=index_label)

In [ ]:
full_test = xgb.DMatrix(test_df, missing = np.nan)
y_test = model_full.predict(full_test)

In [ ]:
# запишем его в файл, готовый для сабмита
#функция для записи прогнозов в файл
def write_to_submission_file(predicted_labels, out_file,
                             target='target', index_label="session_id"):
    predicted_df = pd.DataFrame(predicted_labels,
                                index = np.arange(1, predicted_labels.shape[0] + 1),
                                columns=[target])
    predicted_df.to_csv(out_file, index_label=index_label)
write_to_submission_file(y_test, 'pred/xgb_base_250_3_time_100.csv')